html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header { width: 100%; }

main {
  flex: 1 0 auto;
  padding-bottom: 100px;
}

footer {
  flex-shrink: 0;
  color: #fff;
  background-color: #212121;
  height: 120px;

}

footer .footer-content {
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .column { flex: 50%; }

footer .footer-content a { color: #fff; }

.left-side-menu {
  width: 250px;
  margin-top: 100px;
  padding-right: 40px;
}

.main-content {
  width: 100%;
  padding-left: 40px;
}

.left-side-menu .menu-title {
  border-bottom: 4px solid #007bff;
}

.left-side-menu > ul {
  padding: 0;
  margin: 0;
}

.left-side-menu > ul > li {
  line-height: 2;
  padding: 3px 13px;
}

.left-side-menu > ul > li:hover {
  background-color: #E8F5E9;
}

.left-side-menu > ul > li > a {
  color: #343a40;
}

.left-side-menu > ul > li > a:hover {
  text-decoration: none;
}

.left-side-menu > ul > li:hover,
.left-side-menu > ul > li.active {
  border-radius: 4px;
}

.left-side-menu > ul > li.active {
  background-color: #1B5E20;
}

.left-side-menu > ul > li.active > a {
  color: #fff;
}


.lfs-logo {
  height: 30px;
  width: auto;
}

.accounts-login {
  text-align: center;
  margin-top: 55px;
}

.accounts-login .login-title { margin-bottom: 80px; }

header { background-color: #002145; }
header .brand-title {
  color: #fff;
  font-size: 22px;
  flex: auto;
  margin-left: 20px;
}

header .navbar-brand,
header .navbar-text,
header .nav-link {
  color: #fff !important;
}

header .navbar-brand > img {
  width: auto;
  height: 45px;
}

header .navbar-brand .brand-shorthand  { display: none; }

header .navbar-toggler {
  background-color: #fff;
  border-radius: 4px;
}

header .container .logout-btn { display: inline-block; }

header .container .logout-btn:hover { text-decoration: underline; }

.title { margin-bottom: 30px; }

.title,
.card { margin-top: 40px; }

.search-field { float: right; }

.search-field .input-field select,
.search-field .input-field input
 { vertical-align: middle; }

.search-field .input-field select,
.search-field .input-field .search-field-text::placeholder { font-size: 14px; }

.search-field .input-field select { height: 29px; }

.list-form { display: inline-block; }

tr.inactive { background-color: rgba(0,0,0,.075); }

#add_user_cert_form #id_cert { width: 100%; }

/* .errorlist {
  color: maroon;
  font-weight: bold;
} */

.btn-inactive { background-color: #ccc; }

.btn-xs {
  padding: .1em .3em;
  font-size: 0.75rem;
}

.font-size-nl { font-size: 1rem; }
.font-size-lg { font-size: 1.2rem; }
.font-size-sm { font-size: 0.9rem; }
.font-size-xs { font-size: 0.8rem; }
.font-size-xxs { font-size: 0.85rem; }

.color-blue { color: #007bff; }

.vertical-top { vertical-align: top !important; }
.vertical-middle { vertical-align: middle !important; }
.vertical-bottom { vertical-align: bottom; }

.material-symbols-outlined { vertical-align: bottom; }


.bg-light-gray {
  background-color: #f1f1f1;
}

.box {
  padding: 25px;
  border-radius: 4px;
}

.border-green {
  border: 1px solid #28a745;
}

.border-red {
  border: 1px solid #dc3545;
}

.border-gray {
  border: 1px solid #6c757d;
}

.nav-item {
  color: #6c757d;
}

.nav-item .nav-link:hover {
  text-decoration: underline;
}

.nav-item .nav-link.active {
  font-weight: 600;
}

.nav-tabs > a {
  padding: 0.7rem 1.0rem;
  font-size: 1.0rem;
  color: #343a40;
}

.nav-tabs > a:hover {
  background-color: #f1f1f1;
}

.nav-tabs .nav-link.active {
  color: #495057;
  font-weight: 600;
  background-color: #fff;
  border-top-width: 4px;
  border-color: #f0ad4e #dee2e6 #fff;
}

.field-wrapper {
  margin: 1.3rem 0;
}

.field-wrapper > label {
  margin: 0;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.field-wrapper > .help {
  color: #474d52;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.width-100p { width: 100%; }

.new-users-section {
  background-color: #f8f9fa;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px 40px;
}


/* admin menu */

.top-menu-nav,
.admin-menu {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: #e3f2fd;
  /*background-color: #e3f2fd;*/
}

.top-menu-nav .dropdown,
.admin-menu .dropdown {
  display: inline-block;
}

.top-menu-nav .dropdown button,
.admin-menu .dropdown button {
  padding: 4px 8px;
  background: none;
  outline: none;
  border: none;
}

.top-menu-nav .dropdown a:focus,
.top-menu-nav .dropdown a:active,
.top-menu-nav .dropdown button:focus,
.top-menu-nav .dropdown button:active,
.admin-menu .dropdown a:focus,
.admin-menu .dropdown a:active,
.admin-menu .dropdown button:focus,
.admin-menu .dropdown button:active {
  outline: none !important;
  box-shadow: none;
}

.top-menu-nav .dropdown,
.admin-menu .dropdown {
  margin: 0 5px;
}

.top-menu-nav .dropdown .dropdown-item,
.admin-menu .dropdown .dropdown-item {
  padding: 4px 8px;
  background: none;
}

.top-menu-nav .dropdown .dropdown-item:hover,
.top-menu-nav .dropdown .dropdown-toggle:hover,
.admin-menu .dropdown .dropdown-item:hover,
.admin-menu .dropdown .dropdown-toggle:hover {
  background-color: #90caf9;
}

.top-menu-nav .dropdown .dropdown-item:active,
.admin-menu .dropdown .dropdown-item:active {
  color: #212529;
}


.work-area {
  border-radius: 4px;
  padding: 1px 5px;
  margin: 10px 0;
  line-height: 1.8;
}

.area-lab-user {
  border: 1px solid #bbdefb;
  background-color: #e3f2fd;
}

.area-pi {
  border: 1px solid #fff8e1;
  background-color: #ffecb3;
}

.table tr th { background-color: #fff !important; }

.table tr th,
.table tr td {
  text-align: center;
  vertical-align: middle !important;
}

.table-left-column-bold tr td:nth-child(1) {
  font-weight: 600;
}

/*
.table-vertical-middle tr th,
.table-vertical-middle tr td {
  vertical-align: middle;
}
*/


.custom-table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background: none;
  border-top: 2px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
}

.custom-table th,
.custom-table td {
  border-left: none;
  border-right: none;
}

.custom-table th,
.custom-table td {
  padding: 0.3rem;
  vertical-align: top;
}

.custom-table td {
  background-color: #fff;
}

.viewing-message {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 15px;
  border: 1px solid #fdd835;
  border-radius: 4px;
  background-color: #fff176;
  text-align: center;
  z-index: 100;
}

.helptext {
  font-size: 0.9rem;
  color: #6c757d;
}

.key-request-breadcrumb {
  text-align: center;
}

.key-request-breadcrumb > div {
  display: inline-block;
}

.key-request-breadcrumb > .material-symbols-outlined {
  margin-right: -5px;
}

/* Utils */


.btn-lime {
  background-color: #e6ee9c;
  border-color: #dce775;
}

.btn-lime:hover {
  background-color: #dce775;
}

.block-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form-table-width { width: 100% }
.form-table-width tr th { width: 25%; }
.form-table-width tr td { width: 75%; }
.form-table-width tr:not(:nth-child(1)) td input { margin-top: 20px; }
.form-table-width br { display: none; }

.form-table tr td { margin: 10px 0 10px 10px; }
.form-table tr td:nth-child(2) { display: inline-block; }

.form-table-format tr td:nth-child(1) {
  font-weight: 600;
}

.key-request-form select {
  width: auto;
  display: inline-block;
}

.stats-table,
.stats-table th,
.stats-table td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}


.pin-note {
  background-color: #f1f1f1;
  font-size: 0.9rem;
}

.pin-note .pin-note-title {
  color: #fff;
  background-color: #00BFA5;
  text-transform: uppercase;
  padding: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}

.pin-note .pin-note-body {
  padding: 1rem 1.5rem;
}

.list-minus-20 {
  margin-left: -20px;
  margin-bottom: 0 !important;
}

.list-no-bullets {
  list-style: none;
}

.text-underline { text-decoration: underline; }


/* bd-callout came from Bootstrap 4 */
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    background-color: #f1f1f1;
}

.bd-callout-info {
    border-left-color: #17a2b8;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout-danger {
    border-left-color: #d9534f;
}

.bd-callout h4,
.bd-callout h5 {
    margin-top: 0;
    margin-bottom: .25rem;
}

.bd-callout p,
.bd-callout ul {
  color: #343a40 !important;
}

.bd-callout-info h4,
.bd-callout-info h5 {
    color: #17a2b8;
}

.bd-callout-warning h4,
.bd-callout-warning h5 {
    color: #f0ad4e;
}

.bd-callout-danger h4,
.bd-callout-danger h5 {
    color: #d9534f;
}

.bd-callout p:last-child,
.bd-callout ul:last-child {
    margin-bottom: 0;
}


.bg-prompt {
  background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,#fff),linear-gradient(70deg,#eaf5ff 32%,#f6fff8);
}

.prompt {
  background-repeat: no-repeat;
  background-clip: padding-box;
  box-shadow: 0 3px 6px rgba(0,0,0,.05);
}

.prompt h4 {
  font-weight: 600;
}

.prompt > p,
.prompt > div > p {
  color: #474d52;
}

.text-chocolate { color: #D2691E; }
.text-orange { color: #fd7e14; }

.font-weight-600 { font-weight: 600;}
.font-size-20px { font-size: 20px; }

.form-control-xs {
  width: auto;
  border: 1px solid #ced4da;
  color: #495057;
  font-size: 0.9rem;
}

.form-control-xs:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}


.pagination-container .page-item {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pagination-container .page-item:hover {
  background-color: #f1f1f1;
}

.pagination-container > .page-item:first-child {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.pagination-container > .page-item:last-child {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.pagination-container > .page-item.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-container .pagination .page-item.active {
  z-index: 3;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.table-paginator {
  flex: auto;
}

/* Responsive design */

@media (max-width: 575.98px) {
  header .navbar-brand .brand-title { display: none; }
  header .navbar-brand .brand-shorthand { display: inline; }
  .nav-tabs > a { font-size: 0.8rem; }
  .admin-menu >.text { display: none; }
  footer,
  footer .footer-content {
    height: 150px;
    font-size: 0.9rem;
    padding: 5px;
  }
  footer .footer-content { flex-direction: column; }
  #list-of-areas {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  footer { font-size: 0.9rem; }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  header .navbar-brand .brand-title { display: none; }
  header .navbar-brand .brand-shorthand { display: inline; }
  .max-width-container { max-width: 95%; }
}

@media (min-width: 1200px) {
  .max-width-container { max-width: 1400px; }
}
