{% extends "app/area_details/base.html" %}

{% block sub_content %}

{% if request.user.is_superuser or is_pi %}

    <div class="bd-callout bd-callout-warning mb-4">
        Role is one of <strong><code style="font-size: 100%">Supervisor</code></strong>,
        <strong><code style="font-size: 100%">Supervisor's Proxy</code></strong> or <strong><code style="font-size: 100%">User</code></strong>

    <p>Supervisors are responsible for approving requests for the area and its related rooms. Proxy's can approve on the Supervisor's behalf </p>
    </div>

  <div class="row">
  	<div class="col-md-7">
      <h4 class="text-info">Add User to Area</h4>
      <div class="border bg-lighter-gray p-4 mt-4">
        <form action="#" method="post">
          {% csrf_token %}
          <table class="form-table">{{ user_area_form.as_table }}</table>
          <input type="hidden" name="next" value="{{ request.get_full_path }}" />
          <input class="btn btn-primary mt-3" type="submit" value="ADD" />
        </form>
      </div>
    </div>
    <div class="col-md-5">
      <section class="ml-5">
        {% include 'app/area_details/_display_users.html' with data=recent_users path='area' %}
      </section>
  	</div>
  </div>

{% endif %}

{% endblock%}
