{% extends "app/area_details/base.html" %}
{% load custom_tags %}

{% block sub_content %}

<h4 class="text-info mt-5">Area Details</h4>

<div class="card border-primary">
  <div class="card-header bg-primary text-white">
    Required Training Record
    <small>(Total: {{ required_certs|length }})</small>
  </div>

  <div class="card-body">
    <div class="card-text">
      <table class="table table-borderless table-striped table-responsive-lg table-sm">
        <tbody>
          {% for cert in required_certs %}
            <tr>
              <td>{{ forloop.counter }}.</td>
              <td class="text-left">{{ cert.name }}</td>
              <td>
                {% if request.user.is_superuser %}
                  <form class="d-inline float-right" action="{% url 'app:delete_training_in_area' %}" method="post" onsubmit="return confirm('Are you sure to remove {{ cert.name }}?');">
                    {% csrf_token %}

                    <input type="hidden" name="area" value="{{ area.id }}" />
                    <input type="hidden" name="training" value="{{ cert.id }}" />
                    <input type="hidden" name="next" value="{{ request.get_full_path }}" />

                    <input class="btn btn-danger btn-sm" type="submit" value="Remove" />
                  </form>
                {% endif %}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="100%">No required trainings found</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<section class="mt-5">
  <h4>
    Users in Area
    <small class="text-secondary">(Total: {{ users_in_area|length }})</small>
  </h4>

  <table class="table table-bordered table-striped table-responsive-lg text-center"
         id="area-users-table"
    data-toggle="table"
    data-classes=""
    data-sortable="true"
    data-pagination="true"
    data-search="true"
    data-page-size="10"
    data-page-list="[10, 20, 30, 50, 100, all]"
  >
    <thead>
      <tr>
        <th data-sortable="true">#</th>
        <th>CWL</th>
        <th data-sortable="true">First Name</th>
        <th data-sortable="true">Last Name</th>
        <th data-sortable="true">Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user, role_form in users_in_area %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            <a href="{% url 'app:my_account' user_id=user.id %}?next={% url 'app:area_details' area_id=area.id %}">{{ user.username }}</a>

            {% if not user.is_active %}
              <span class="badge badge-secondary">Inactive</span>
            {% endif %}
          </td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>
              {% if request.user.is_superuser or is_pi %}
                  <form class="role-form" id="{{ user.id }}" action="{% url 'app:switch_user_role_in_area' area_id=area.id %}" method="post">
                      <div class="row">
                          {% csrf_token %}

                          <input type="hidden" name="user" value="{{ user.id }}" />
                          <input type="hidden" name="next" value="{{ request.path }}" />
                          <div class="col-lg-8">{{ role_form.role }}</div>
                          <div class="col-lg-4">
                              <input
                                  class="btn btn-info btn-sm"
                                  id="btn-{{ user.id }}"
                                  disabled
                                  type="submit"
                                  value="Save Role"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  title="Nothing to change"

                              />
                          </div>
                      </div>
                  </form>

              {% else %}
                {% role_badge user.role %}
              {% endif %}
          </td>
          <td>
            {% if request.user.is_superuser or is_pi %}

              <form class="list-form" action="{% url 'app:delete_user_in_area' area_id=area.id %}" method="post" onsubmit="return confirm('Are you sure to remove User - {{user.username}}?');">
                {% csrf_token %}

                <input type="hidden" name="user" value="{{ user.id }}" />
                <input type="hidden" name="area" value="{{ area.id }}" />
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />

                <input class="btn btn-danger btn-sm" type="submit" value="Remove"/>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>


{% endblock%}

{% block js %}
    {{ block.super }}
    {% load static %}
    <script type="text/javascript" src="{% static 'lfs_lab_cert_tracker/js/switch_role_toggle.js' %}"></script>
{% endblock %}



