{% extends "app/area_details/base.html" %}

{% block sub_content %}

<h4 class="text-info mt-5">
  Users - Missing Training Records
  <small class="text-secondary">(Total: {{ users_missing_certs|length }})</small>
</h4>

<table class="table table-bordered table-striped table-responsive-lg text-center table-vertical-middle"
  data-toggle="table"
  data-sortable="true"
  data-classes=""
  data-pagination="true"
  data-search="true"
  data-page-size="10"
  data-page-list="[20, 30, 50, 100, all]"
>
  <thead>
    <tr>
      <th>#</th>
      <th>CWL</th>
      <th data-sortable="true">First Name</th>
      <th data-sortable="true">Last Name</th>
      <th>Missing Training Records</th>
    </tr>
  </thead>
  <tbody>
  {% for user_missing_cert in users_missing_certs %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <a href="{% url 'app:my_account' user_id=user_missing_cert.user.id %}?next={% url 'app:area_details' area_id=area.id %}">
          {{ user_missing_cert.user.username }}
        </a>
      </td>
      <td>{{ user_missing_cert.user.first_name }}</td>
      <td>{{ user_missing_cert.user.last_name }}</td>
      <td class="text-left">
        <ul class="list-minus-20">
          {% for cert in user_missing_cert.missing_certs %}
            <li>{{ cert.name }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock%}
