.container header {
  margin-bottom: 10px;
}

.container header .logout-btn {
  //display: inline-block;
}

footer { height: 100px; }

.title,
.card {
  margin-top: 40px;
}

.search-field {
  float: right;
}

.list-form {
  display: inline-block;
}

tr.inactive {
  background-color: rgba(0,0,0,.075);
}

#add_user_cert_form #id_cert {
  width: 100%;
}

.errorlist {
  color: maroon;
  font-weight: bold;
}
