{% extends "lfs_lab_cert_tracker/base.html" %}

{% block content %}

<div class="text-center">
  <h4 class="mt-5 text-danger">
    <span class="material-symbols-outlined">mood_bad</span>
    Oops! Something went wrong
  </h4>

  <h4>The system has encountered an error.</h4>
  
  <p>
    Please contact administrator, or the LFS Learning Centre (<span class="text-primary">it@landfood.ubc.ca</span>) for help.
  </p>

  <p><a href="{% url 'app:my_account' user_id=request.user.id %}">Go to My Account</a></p>
</div>

{% endblock %}
