{% extends "lfs_lab_cert_tracker/base.html" %}
{% load custom_tags %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
{% endblock %}

{% include 'app/subpages/_return_message.html' with data=messages %}

{% block content %}

{% include 'key_request/manager_dashboard/left_side_menu.html' %}

<section class="main-content">
	<h3 class="title">PI - Dashboard</h3>

	<h4 class="text-info mt-5 mb-4">Key Request Forms</h4>

	<table id="selected-rooms" class="table table-bordered table-striped">
	  <thead>
	    <tr>
				<th>CWL</th>
	      <th>Full Name</th>
				<th>Building</th>
				<th>Floor</th>
	      <th>Room <br /> Number </th>
	      <th>Form <br /> Details</th>
	      <th>Status</th>
	      <th>Action</th>
				<th>
					<input id="select-all-checkbox" type="checkbox" />
				</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for req in requests %}
	      <tr>
					<td>
	          <a href="{% url 'app:user_details' user_id=req.form.user.id %}?next={{ request.get_full_path }}">{{ req.form.user.username }}</a>
	        </td>
	        <td>{{ req.form.user.get_full_name }}</td>
	        <td>{{ req.room.building.code }}</td>
					<td>{{ req.room.floor.name }}</td>
					<td>{{ req.room.number }}</td>
	        <td>
						{% include 'key_request/subpages/modal_request_form_details.html' with id=forloop.counter form=req.form %}
	        </td>
	        <td>
						{% include 'key_request/subpages/request_status.html' with data=req.status.last.status|get_status_display %}
						<span class="font-size-xs text-secondary d-block">
						  {% include 'key_request/subpages/date_and_time.html' with data=req.status.last.created_at %}
						</span>
	        </td>
	        <td>
	          {% include 'key_request/subpages/update_status_form.html' with post_url=post_url data=req %}
	        </td>
					<td>
						<input class="room-checkbox" type="checkbox" value="{{ req.form.id }}_{{ req.room.id }}_{{ req.manager.id }}" data-building="{{ req.room.building.code }}" data-floor="{{ req.room.floor.name }}" data-number="{{ req.room.number }}" data-pi="{{ request.user.get_full_name }}" data-is_new="{% if req.status|length == 0 %}true{% else %}false{% endif %}"/>
					</td>
	      </tr>
			{% empty %}
				<tr>
					<td colspan="100%">No key requests found</td>
				</tr>
	    {% endfor %}
	  </tbody>
	</table>

	{% include 'key_request/subpages/modal_rooms_update_all.html' %}
</section>

{% endblock %}

{% block js %}
	{% load static %}
	<script type="text/javascript" src="{% static 'lfs_lab_cert_tracker/js/rooms_select_all.js' %}"></script>
{% endblock %}
