{% extends "app/settings/base.html" %}

{% block sub_content %}

<h3 class="title">
	All Areas
	<small class="text-secondary">(Total: {{ total_areas }})</small>
</h3>

<div class="search-field mb-2">
	<form method="GET" >
		<div class="input-field">
			<input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search by Name" />
			<button class="btn btn-primary btn-sm" type="submit">Search</button>
			<a class="btn btn-sm btn-secondary" href="{% url 'app:all_areas' %}">Clear</a>
		</div>
	</form>
</div>

<table class="table table-bordered table-striped table-responsive-md text-center table-vertical-middle">
  <thead>
    <tr>
			<th>ID</th>
      <th>Area Name</th>
			<th>Number of <br /> Required Trainings</th>
			<th>Number of <br /> Users</th>
			<th style="width:140px;">Actions</th>
    </tr>
  </thead>
  <tbody>
		{% for area in areas %}
			<tr>
				<td>{{ area.id }}</td>
				<td class="text-left">
					<a href="{% url 'app:area_details' area_id=area.id %}">{{ area.name }}</a>
				</td>
				<td>{{ area.num_certs }}</td>
				<td>{{ area.num_users }}</td>
				<td>
					{% if request.user.is_superuser %}
						<button type="button" class="btn btn-warning btn-sm list-form" data-toggle="modal" data-target="#lab-edit-modal-{{ area.id }}">Edit</button>

						<div class="modal fade" id="lab-edit-modal-{{ area.id }}" tabindex="-1" role="dialog" aria-labelledby="lab-edit-modal-label-{{ area.id }}" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title text-info" id="lab-edit-modal-label-{{ area.id }}">Edit Area</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body text-left">
										<form action="{% url 'app:edit_area' %}" method="post">
											{% csrf_token %}

											<div class="mb-3">
												<label for="id_name_{{ area.id }}" class="font-weight-bold">
													Name:
													{% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}
												</label>
												<input id="id_name_{{ area.id }}" class="form-control" type="text" name="name" maxlength="256" value="{{ area.name }}" required />
												<small class="text-muted">(Maximum characters: 256)</small>
											</div>

											<input type="hidden" name="area" value="{{ area.id }}" />
											<input class="btn btn-warning" type="submit" value="Update"/>
										</form>
									</div>
								</div>
							</div>
						</div>

						<form class="list-form" action="{% url 'app:delete_area' %}" method="post" onsubmit="return confirm('Are you sure to delete {{ area.name }}?');">
							{% csrf_token %}

							<input type="hidden" name="area" value="{{ area.id }}" />

							<input class="btn btn-danger btn-sm" type="submit" value="Delete" />
						</form>
					{% endif %}
				</td>
			</tr>

		{% empty %}

			<tr>
				<td colspan="4">No areas found</td>
			</tr>

		{% endfor %}
	</tbody>
</table>

{% include 'app/subpages/pagination.html' with data=areas %}

{% endblock %}
