{% extends "app/settings/base.html" %}

{% block sub_content %}

<div class="row">
  <div class="col-md-7">
		<h3 class="title">Create User</h3>

		<div class="border bg-lighter-gray p-4">
			{% include 'app/subpages/_form_note.html' %}

			<form action="" method="post">
				{% csrf_token %}

				{% for field in form.visible_fields  %}
					<div class="field-wrapper">
						<label for="{{ field.id_for_label }}">
							{{ field.label }}
							{% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}
						</label>

						{% if field.help_text %}
							<div class="help">{{ field.help_text|safe }}</div>
						{% endif %}
						{{ field }}
					</div>
				{% endfor %}

				<div class="field-wrapper">
					<input name="send_email" type="checkbox" value="yes" /> Are you sure to send an email?
				</div>

				<input class="btn btn-primary mt-3" type="submit" value="Create User" />
			</form>
		</div>
  </div>

	<div class="col-md-5">
    <section class="ml-5 mt-5">
      {% include 'app/settings/_display_users.html' with data=recent_users %}
    </section>
	</div>

</div>

{% endblock %}
