{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-8">
		<h4>Certificates</h4>
		<div class="list-group">
			{% for cert in cert_list %}
			<div class="list-group-item">
				<p class="d-inline float-left">
					{{ cert.name }}
				</p>
				{% if can_create_cert %}
				<form class="float-right" action='/api/certificates/{{cert.id}}/delete' method="post">
					{% csrf_token %}
					<input name="redirect_url" value="/certificates/" type="hidden"/>
				<input class="btn btn-danger" type="submit" value="DELETE"/>
				</form>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		{% if can_create_cert %}
		<h4>Create New Certificate</h4>
		<form id="create_cert_form" action="/api/certificates/" method="POST">
			{% csrf_token %}
			{{ cert_form.as_p }}
		<input class="btn btn-primary" id="submit_create_cert_form" type="submit" value="Submit Form"/>
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}
