{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
	<div class="col">
		<h1>Add User to Lab</h1>
		<form id="add_user_lab_form" method="post">
		{% csrf_token %}
		{{ user_lab_form | crispy }}
		<input class="btn btn-primary" id="submit_add_user_lab_form" type="button" value="Submit Form"/>
		</form>
	</div>
</div>

<script>
$('input#submit_add_user_lab_form').click(function() {
	let user_id = $('select#id_user').val();
	let url = '/api/users/' + user_id + '/labs/';
	$.ajax({
		url: url,
		type: 'POST',
		dataType: 'json',
		data: $('form#add_user_lab_form').serialize(),
		success: function(data) {
			console.log(data);
			location.reload();
		},
		error: function(data) {
			alert("User Already in Lab");
		},
	});
});
</script>
{% endblock %}

