{% extends "base.html" %}

{% block content %}

<h1>Add Cert to Lab</h1>

<form id="add_lab_cert_form" method="post">
{% csrf_token %}
{{ cert_lab_form.as_p }}
<input id="submit_add_lab_cert_form" type="button" value="Submit Form"/>
</form>

<script>
$('input#submit_add_lab_cert_form').click(function() {
	let lab_id = $('select#id_lab').val();
	let url = '/api/labs/' + lab_id + '/certificates/';
	$.ajax({
		url: url,
		type: 'POST',
		dataType: 'json',
		data: $('form#add_lab_cert_form').serialize(),
		success: function(data) {
			console.log(data);
			location.reload();
		},
		error: function(data) {
			alert("Operation failed");
		},
	});
});
</script>
{% endblock %}

