{% extends "base.html" %}

{% block content %}
<h1>LFS Lab Cert Tracker</h1>
<ul>
	<li>
		<a href="users/{{ user_id }}/labs">View My Labs</a>
	</li>
	<li>
		<a href="users/{{ user_id }}/certificates">View My Certificates</a>
	</li>
	<li>
		<a href="labs">View All Labs</a>
	</li>
	<li>
		<a href="certificates">View All Certificates</a>
	</li>
{% if can_view_users %}
	<li>
		<a href="users">View All Users</a>
	</li>
{% endif %}
{% if can_edit_user_lab %}
	<li>
		<a href="users/edit_labs">Add User to Lab</a>
	</li>
{% endif %}
{% if can_edit_lab_cert %}
	<li>
		<a href="labs/edit_certs">Add Cert to Lab</a>
	</li>
{% endif %}
</ul>
{% endblock %}
