{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col">
	<h3>Users in Lab: {{lab.name}}</h3>
		<div class="list-group">
		{% for user_in_lab in users_in_lab %}
			<div class="list-group-item">
				<p class="d-inline">
					{{ user_in_lab.cwl}}
				</p>
				<form class="d-inline float-right" action='/api/users/{{user_in_lab.id}}/labs/{{lab.id}}/delete' method="post">
				{% csrf_token %}
				{{ delete_user_lab_form }}
				<input class="btn btn-danger" type="submit" value="DELETE"/>
				</form>
			</div>
		{% endfor %}
		</div>
	</div>
	<div class="col">
	<h3>Users Missing Certs</h3>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">CWL</th>
				<th scope="col">Missing</th>
			</tr>
		</thead>
		<tbody>
		{% for user_missing_certs in users_missing_certs %}
			<tr>
				<th>{{ user_missing_certs.0.cwl}}</th>
				<td>
					<ul>
					{% for missing_cert in user_missing_certs.1 %}
					<li>{{ missing_cert.name }}</li>
					{% endfor %}
					</ul>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
</div>

{% endblock %}

