{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col">
	<h3>View Labs</h3>
	{% for lab in lab_list %}
	<p>
		{{ lab.name }}
	</p>
	{% endfor %}
	</div>
	<div class="col"/>
	{% if can_create_lab %}
		<h3>Create Labs</h3>
		<form id="create_lab_form" action="/api/labs/" method="post">
		<div class="form-group">
		{% csrf_token %}
		{{ lab_form.as_p }}
		</div>
		<input class="btn btn-primary" id="submit_create_lab_form" type="submit" value="Submit Form"/>
	</form>
	{% endif %}
	</div>
</div>
{% endblock %}
