{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-8">
	<h3>View Labs</h3>
	<div class="list-group">
	{% for lab in lab_list %}
		<a class="list-group-item list-group-item-action" href="/labs/{{lab.id}}/">
			{{ lab.name }}
		</a>
	{% endfor %}
		</div>
	{% if can_create_lab %}
		<h3>Create Labs</h3>
		<form id="create_lab_form" action="/api/labs/" method="post">
		{% csrf_token %}
		{{ lab_form.as_p }}
		<input class="btn btn-primary" id="submit_create_lab_form" type="submit" value="Submit Form"/>
	</form>
	{% endif %}
	</div>
</div>
{% endblock %}
