{% extends "header.html" %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}
	<p>Already logged in</p>
{% else %}
	{% if errors %}
		<div class="alert alert-danger" role="alert">
			<strong>Errors:</strong>
			<ul class="list-unstyled">
					{% for err in errors %}
						<li>{{err}}</li>
					{% endfor %}
			</ul>
			{% if error_reason %}
				<p><b>Reason:</b> {{error_reason}}</p>
			{% endif %}
		</div>
	{% endif %}

	{% if not_auth_warn %}
		<div class="alert alert-danger" role="alert">Not authenticated</div>
	{% endif %}

	{% if success_slo %}
		<div class="alert alert-success" role="alert">Successfully logged out</div>
	{% endif %}

	<div class="row">
		{% if messages %}
			{% for message in messages %}
				<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endif %}
		
		<div class="col-md-6">
			<div class="accounts-login">
				<h5>Welcome to LFS Lab Cert Tracker</h5>

				<p class="text-secondary">Please click the button below to login</p>
				<a href="{% url "saml" %}?sso">
					<img src="{% static 'lfs_lab_cert_tracker/images/CWL_login_button.gif' %}" alt="CWL login button"/>
				</a>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card text-white bg-info">
			  <div class="card-header">Description</div>
		  	<div class="card-body">
			    <blockquote class="blockquote mb-0">
			      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
			      <p class="blockquote-footer text-white">Faculty of Land and Food System @ UBC</p>
			    </blockquote>
			  </div>
			</div>
		</div>
	</div>







{% endif %}
{% endblock %}
