{% extends "base.html" %}

{% block content %}

<div>
	<h1>View Users</h1>
	{% for user in user_list %}
	<p>
		{{ user.cwl }}
	</p>
	{% endfor %}
</div>

{% if can_create_user %}
	<h1>Create Users</h1>
	<form id="create_user_form" action="/api/users/" method="post">
	{% csrf_token %}
	{{ user_form }}
	<input id="submit_create_user_form" type="button" value="Submit Form"/>
</form>
<script>
$('input#submit_create_user_form').click(function() {
	$.ajax({
		url: $('form#create_user_form').attr('action'),
		type: 'POST',
		dataType: 'json',
		data: $('form#create_user_form').serialize(),
		success: function(data) {
			console.log(data);
			location.reload();
		},
		error: function(data) {
			alert("Operation failed");
		},
	});
});
</script>
{% endif %}

{% endblock %}
