{% extends "header.html" %}

{% block content %}

<div class="row">
	<div class="col-md-10 offset-md-1">
		<h3 class="title">My Certificates</h3>

		<div class="card border-success">
			<div class="card-header bg-success text-white">Certificates</div>
			<div class="card-body">
				{% if user_cert_list %}
				<div class="card-text">
					<ul>
						{% for user_cert in user_cert_list %}
							<li>
								<a href="/users/{{user_id}}/certificates/{{user_cert.id}}">{{ user_cert.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				{% else %}
					<h5 class="card-title">You do not have any certificates</h5>
				{% endif %}
			</div>
		</div>

		{% if missing_cert_list %}
		<div class="card card border-danger">
			<div class="card-header bg-danger text-white">Missing Certificates</div>
			<div class="card-body">
				<div class="card-text">
					<ul>
						{% for missing_cert in missing_cert_list %}
							<li>{{ missing_cert.name }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		{% endif %}

		<h5 class="title">Add Certificates</h5>
		<form id="add_user_cert_form" action='/api/users/{{user_id}}/certificates/' method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<table>{{ user_cert_form.as_table }}</table>
			<input class="btn btn-primary" id="submit_add_user_cert_form" type="submit" value="Add Certificate"/>
		</form>

	</div>
</div>
{% endblock %}
