{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col">
		<h3>Your Certificates</h3>
		<div class="list-group">
		{% for user_cert in user_cert_list %}
		<a class="list-group-item list-group-item-action" href="/users/{{user_id}}/certificates/{{user_cert.id}}">{{ user_cert.name }}</a>
		{% endfor %}
		</div>
		<h3>Missing Certificates</h3>
		<ul class="list-group">
		{% for missing_cert in missing_cert_list %}
		<li class="list-group-item">{{ missing_cert.name }}</li>
		{% endfor %}
	</div> <!--end col-->
	<div class="col">
		<h3>Add Certificates</h3>
		<form id="add_user_cert_form" action='/api/users/{{user_id}}/certificates/' method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
		{{ user_cert_form.as_p }}
		</div>
		<input class="btn btn-primary" id="submit_add_user_cert_form" type="submit" value="Submit Form"/>
		</form>
	</div> <!--end col-->
</div> <!--end row-->
{% endblock %}
