{% extends "header.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
	<div class="col-md-10 offset-md-1">
		<h3 class="title">Training Details</h3>

		<table class="table table-borderless table-sm table-responsive-md">
			<tbody>
				<tr>
					<td>Training Name</td>
					<td>
						<a href="/media/{{user_cert.cert_file}}">{{ user_cert.name }}</a>
					</td>
				</tr>
				<tr>
					<td>Uploaded on</td>
					<td>{{ user_cert.uploaded_date }}</td>
				</tr>
				<tr>
					<td>Completion date</td>
					<td>{{ user_cert.completion_date }}</td>
				</tr>
				<tr>
					<td>Expiry date</td>
					<td>
						{% ifequal user_cert.completion_date|date:"Y-m-d" user_cert.expiry_date|date:"Y-m-d" %}
							NO expiry date
						{% else %}
							{{ user_cert.expiry_date }}
						{% endifequal %}
					</td>
				</tr>
			</tbody>
		</table>

		{% if app_user.id == loggedin_user.id %}
			<a class="btn btn-outline-primary d-inline" href="{% url 'user_details' loggedin_user.id %}">Back to My Account</a>

			<form class="d-inline" action='/api/users/{{ app_user.id }}/certificates/{{ user_cert.id }}/delete/' method="post" onsubmit="return confirm('Are you sure to delete {{ user_cert.name }}?');">
				{% csrf_token %}
				{{ delete_user_cert_form | crispy }}
				<input class="btn btn-danger" type="submit" value="Delete" />
			</form>
		{% else %}
			<a class="btn btn-outline-primary" href="{% url 'user_details' app_user.id %}">Back to {{ app_user.get_full_name }}'s Account</a>
		{% endif %}

	</div>
</div>

{% endblock %}
