{% extends "header.html" %}

{% block content %}

<div class="row">
	<div class="col-md-10 offset-md-1">

		<h3 class="title">My Work Area(s)</h3>
		{% if user_lab_list %}
			<ul>
				{% for user_lab in user_lab_list %}
					<li>{{ user_lab.name }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>You are not in work area(s)</p>
		{% endif %}

		{% if pi_user_lab_list %}
			<h5 class="title">Main Work Area(s)</h5>
			<ul>
				{% for pi_user_lab in pi_user_lab_list %}
				<li>
					<a href="/areas/{{pi_user_lab.id}}/">{{ pi_user_lab.name }}</a>
				</li>
				{% endfor %}
			</ul>
		{% endif %}

	</div>
</div>

{% endblock %}
