{% extends "header.html" %}

{% block content %}

<div class="row">
	<div class="col-md-8">
		<h5>Your Certificates</h5>
		{% if user_cert_list %}
			<div class="list-group">
				{% for user_cert in user_cert_list %}
					<li class="list-group-item">
						<a href="/users/{{user_id}}/certificates/{{user_cert.id}}">{{ user_cert.name }}</a>
					</li>
				{% endfor %}
			</div> <!--end list-->
		{% else %}
			<p>You do not have any certificates</p>
		{% endif %}

		{% if missing_cert_list %}
			<h5>Missing Certificates</h5>
			<ul class="list-group">
				{% for missing_cert in missing_cert_list %}
				<li class="list-group-item">{{ missing_cert.name }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<h5>Add Certificates</h5>
		<form id="add_user_cert_form" action='/api/users/{{user_id}}/certificates/' method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ user_cert_form.as_p }}
			<input class="btn btn-primary" id="submit_add_user_cert_form" type="submit" value="Add Certificate"/>
		</form>
	</div>
</div> <!--end row-->
{% endblock %}
