<style>
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
}
</style>

<h3>Report for {{app_user.first_name}} {{app_user.last_name}}</h3>
<h3>cwl: {{app_user.cwl}}</h3>

<table>
	<tr>
		<th>
			Registered In
		</th>
		<th>
			Required Certificates
		</th>
		<th>
			Missing/Expired Certificates
		</th>
	</tr>
	{% for ul in user_labs %}
	<tr>
		<td>
			{{ ul.0.name }}
		</td>
		<td>
			<ul>
			{% for cert in ul.1 %}
			<li>{{ cert.name }}</li>
			{% endfor %}
			<ul>
		</td>
		<td>
			<ul>
			{% for cert in ul.2 %}
			<li>{{ cert.name }}</li>
			{% endfor %}
			<ul>
		</td>
	</tr>
	{% endfor %}
</table>

<h3>Has Certificates</h3>
<table>
	<tr>
		<th>
			Name
		</th>
		<th>
			Uploaded On
		</th>
		<th>
			Expires On
		</th>
	</tr>
	{% for uc in user_cert_list %}
	<tr>
		<td>
			{{ uc.name }}
		</td>
		<td>
			{{ uc.uploaded_date }}
		</td>
		<td>
			{{ uc.expiry_date }}
		</td>
	</tr>
	{% endfor %}
</table>
