{% extends "header.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
	<div class="col-md-10 offset-md-1">
		<h3 class="title">Certificate Details</h3>

		<table class="table table-borderless table-sm table-responsive-md">
			<tbody>
				<tr>
					<td>Certificate Name</td>
					<td>
						<a href="/media/{{user_cert.cert_file}}">{{ user_cert.name }}</a>
					</td>
				</tr>
				<tr>
					<td>Uploaded on</td>
					<td>{{ user_cert.uploaded_date }}</td>
				</tr>
				<tr>
					<td>Completion date</td>
					<td>{{ user_cert.completion_date }}</td>
				</tr>
				<tr>
					<td>Expiry date</td>
					<td>
						{% ifequal user_cert.completion_date|date:"Y-m-d" user_cert.expiry_date|date:"Y-m-d" %}
							NO expiry date
						{% else %}
							{{ user_cert.expiry_date }}
						{% endifequal %}
					</td>
				</tr>
			</tbody>
		<table>

		<form action='/api/users/{{user_id}}/certificates/{{user_cert.id}}/delete' method="post" onsubmit="return confirm('Are you sure to delete {{user_cert.name}}?');">
			{% csrf_token %}
			{{ delete_user_cert_form | crispy }}
			<input class="btn btn-danger" type="submit" value="Delete"/>
		</form>

	</div>
</div>

{% endblock %}
