{% extends "header.html" %}

{% block content %}

{% if can_delete %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'user_certs' user_id=user_cert.user.id %}">
						{% if app_user.id == loggedin_user.id %}
							My
						{% else %}
							{{ app_user.get_full_name }}'s
						{% endif %}
						Training Record
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					{{ user_cert.cert.name }}
				</li>
			</ol>
		</nav>
	</div>
{% endif %}

<div class="row">
	<div class="col-md-10 offset-md-1">

		<h3 class="title">Training Details</h3>

		<table class="table table-borderless table-sm table-responsive-md">
			<tbody>
				<tr>
					<td>Training Name</td>
					<td>
						<a href="/media/{{user_cert.cert_file}}" target="_blank">{{ user_cert.cert.name }}</a>
					</td>
				</tr>
				<tr>
					<td>Uploaded on</td>
					<td>{{ user_cert.uploaded_date }}</td>
				</tr>
				<tr>
					<td>Completion date</td>
					<td>{{ user_cert.completion_date }}</td>
				</tr>
				<tr>
					<td>Expiry date</td>
					<td>
						{% ifequal user_cert.completion_date|date:"Y-m-d" user_cert.expiry_date|date:"Y-m-d" %}
							NO expiry date
						{% else %}
							{{ user_cert.expiry_date }}
						{% endifequal %}
					</td>
				</tr>
			</tbody>
		</table>

		{% if app_user.id == loggedin_user.id %}
			<a class="btn btn-outline-primary d-inline" href="{% url 'user_details' loggedin_user.id %}">Back to My Account</a>
		{% else %}
			<a class="btn btn-outline-primary" href="{% url 'user_details' app_user.id %}">Back to {{ app_user.get_full_name }}'s Account</a>
		{% endif %}

		{% if can_delete %}
			<form class="d-inline" action="" method="post" onsubmit="return confirm('Are you sure to delete {{ user_cert.cert.name }}?');">
				{% csrf_token %}

				<input type="hidden" name="user" value="{{ user_cert.user.id }}" />
				<input type="hidden" name="cert" value="{{ user_cert.cert.id }}" />
				<input class="btn btn-danger ml-2" type="submit" value="Delete" />
			</form>
		{% endif %}

	</div>
</div>

{% endblock %}
