{% extends "lfs_lab_cert_tracker/base.html" %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
	{% include 'app/subpages/return_message.html' with data=messages %}
{% endblock %}

{% block content %}

<section class="main-content">
	<nav class="font-size-sm text-secondary">
		{% if request.user.id == app_user.id %}
			<a href="{% url 'app:user_details' user_id=app_user.id %}">
				{% include 'lfs_lab_cert_tracker/icons/home.html' %}
				My Account
			</a>
			{% include 'lfs_lab_cert_tracker/icons/arrow_right.html' with font_size='font-size-20px' %}
			My Training Record
		{% else %}
			<a href="{% url 'app:user_details' user_id=app_user.id %}">
				<span class="material-symbols-outlined">home</span> {{ app_user.get_full_name }}'s Account
			</a>
			{% include 'lfs_lab_cert_tracker/icons/arrow_right.html' with font_size='font-size-20px' %}
			{{ app_user.get_full_name }}'s Training Record
		{% endif %}
	</nav>

	<h3 class="title">
		{% if request.user.id == app_user.id %}
			My
		{% else %}
			{{ app_user.get_full_name }}'s
		{% endif %}
		Training Record
	</h3>

	<div class="box border-green mt-3">
		<h5 class="text-success">
			<span class="material-symbols-outlined">verified_user</span> Training Record
			<small class="text-secondary">(Total: {{ user_certs|length }})</small>
		</h5>
		<div class="text-secondary">
			{% if user_certs %}
				<ul>
					{% for user_cert in user_certs %}
						<li>
							<a href="{% url 'app:user_training_details' user_id=app_user.id training_id=user_cert.cert_id %}?p=training">
								{{ user_cert.cert_name }}
							</a>

							{% if user_cert.num_certs > 1 %}
								<span class="text-secondary">(Total: {{ user_cert.num_certs }})</span>
							{% endif %}

							{% if user_cert.by_api %}
								<span class="badge badge-warning font-size-xs">CANVAS</span>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% else %}
				You do not have any training records
			{% endif %}
		</div>
	</div>


	{% if missing_certs %}
		<div class="box border-red mt-5">
			<h5 class="text-danger">
				<span class="material-symbols-outlined">notification_important</span> Missing Training Record
				<small class="text-secondary">(Total: {{ missing_certs|length }})</small>
			</h5>
			<div class="text-secondary">
				<ul>
					{% for missing_cert in missing_certs %}
						<li>{{ missing_cert.name }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	{% if expired_certs %}
		<div class="box border-gray mt-5">
			<h5 class="text-secondary">
				<span class="material-symbols-outlined">warning</span> Expired Training Record
				<small class="text-secondary">(Total: {{ expired_certs|length }})</small>
			</h5>
			<div class="text-secondary">
				<ul>
					{% for expired_cert in expired_certs %}
						<li>{{ expired_cert.name }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	<h4 class="title text-info">Add Training Record</h4>

	<div class="text-secondary mb-2">
		<small>
			- Valid file types: jpg, jpeg, png, pdf, doc, docx <br />
			- The maximum file size that can be uploaded is 1.5 MB. <br />
			- A filename has at most 256 characters.
		</small>
	</div>

	<form id="add_user_cert_form" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}

		<table class="form-table">{{ form.as_table }}</table>

		<input class="btn btn-primary mt-3" type="submit" value="Add Training Record" />
	</form>

	{% if viewing %}
		{% include 'app/subpages/viewing_info.html' with data=viewing %}
	{% endif %}

</section>

{% endblock %}
