{% extends "lfs_lab_cert_tracker/base.html" %}

{% block content %}

{% if request.user.is_superuser %}
	{% include 'app/subpages/_admin_menu.html' %}
{% endif %}

{% if viewing %}
	{% include 'app/subpages/_viewing_info.html' with data=viewing %}
{% endif %}

{% if request.user.id != app_user.id %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				{% if request.GET.p == 'account' %}
					<a href="{% url 'app:user_details' user_id=latest_user_cert.user.id %}">
						<i class="material-icons">home</i> {{ app_user.get_full_name }}'s Account
					</a>
				{% elif request.GET.p == 'training' %}
					<a href="{% url 'app:user_trainings' user_id=latest_user_cert.user.id %}">{{ app_user.get_full_name }}'s Training Record</a>
				{% endif %}
			</li>
			<li class="breadcrumb-item active" aria-current="page">Training Details</li>
		</ol>
	</nav>

{% else %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				{% if request.GET.p == 'account' %}
					<a href="{% url 'app:user_details' user_id=latest_user_cert.user.id %}">
						<i class="material-icons">home</i> My Account
					</a>
				{% elif request.GET.p == 'training' %}
					<a href="{% url 'app:user_trainings' user_id=latest_user_cert.user.id %}">My Training Record</a>
				{% endif %}
			</li>
			<li class="breadcrumb-item active" aria-current="page">Training Details</li>
		</ol>
	</nav>

{% endif %}

{% include 'app/subpages/_return_message.html' with data=messages %}

<h3 class="title mb-4">
	Training Details
	<span class="h4 text-info">- Most Recent</span>
</h3>

<div class="row">
	<div class="col-md-9">
		<table class="table table-borderless table-sm table-responsive-lg">
			<tbody>
				<tr>
					<td>Training Name</td>
					<td>
						{% if latest_user_cert.by_api %}
							{{ latest_user_cert.cert.name }}
						{% else %}
							<a href="/app{{ latest_user_cert.cert_file.url }}" target="_blank">{{ latest_user_cert.cert.name }}</a>
							<br />
							<small class="text-secondary">Filename: {{ latest_user_cert.filename }}</small>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>Uploaded on</td>
					<td>{{ latest_user_cert.uploaded_date }}</td>
				</tr>
				<tr>
					<td>Completion Date</td>
					<td>{{ latest_user_cert.completion_date }}</td>
				</tr>
				<tr>
					<td>Expiry Date</td>
					<td>
						{% if latest_user_cert.completion_date == latest_user_cert.expiry_date %}
							No expiry date
						{% else %}
							{{ latest_user_cert.expiry_date }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>Canvas Catalog</td>
					<td>
						{% if latest_user_cert.by_api %}
							<span class="badge badge-success">YES</span>
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>

		{% if not latest_user_cert.by_api %}
			{% if request.user.id == app_user.id or request.user.is_superuser %}
				<form class="d-inline" action="" method="post" onsubmit="return confirm('Are you sure to delete {{ latest_user_cert.cert.name }} (Filename: {{ latest_user_cert.filename }})?');">
					{% csrf_token %}

					<input type="hidden" name="next" value="{{ request.get_full_path }}" />
					<input type="hidden" name="user_cert" value="{{ latest_user_cert.id }}" />
					<input class="btn btn-danger ml-2" type="submit" value="Delete Training" />
				</form>
			{% endif %}
		{% endif %}

	</div>
	<div class="col-md-3">

		<div class="border border-secondary rounded bg-light p-3">
			<h5 class="text-info">
				<i class="material-icons">info</i> NOTE
			</h5>
			<hr>
			<p class="mb-0">If a <strong>Canvas Catalog</strong> field is <span class="badge badge-success">YES</span>, this Training information has been added automatically from <a href="https://login.cpe.ubc.ca/">UBC Canvas Catalog</a>, and you cannot view the certificate file in the TRMS website.</p>
		</div>

	</div>
</div>

<div class="mt-5">
	<h4 class="text-info mb-3">Training History</h4>

	<table class="table table-bordered table-hover text-center table-responsive-md">
		<thead>
			<tr>
				<th>#</th>
				<th>Training Name</th>
				<th>Uploaded on</th>
				<th>Completion <br /> Date</th>
				<th>Expiry Date</th>
				<th>Canvas <br /> Catalog</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for user_cert in user_certs %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td class="text-left">
						{% if user_cert.by_api %}
							{{ user_cert.cert.name }}
						{% else %}
							<a href="/app{{ user_cert.cert_file.url }}" target="_blank">{{ user_cert.cert.name }}</a>
							<br />
							<small class="text-secondary">Filename: {{ user_cert.filename }}</small>
						{% endif %}
					</td>
					<td>{{ user_cert.uploaded_date }}</td>
					<td>{{ user_cert.completion_date }}</td>
					<td>
						{% if user_cert.completion_date == user_cert.expiry_date %}
							No expiry date
						{% else %}
							{{ user_cert.expiry_date }}
						{% endif %}
					</td>
					<td>
						{% if user_cert.by_api %}
							<span class="badge badge-success">YES</span>
						{% endif %}
					</td>
					<td>
						{% if not user_cert.by_api %}
							{% if request.user.id == app_user.id or request.user.is_superuser %}
								<form class="d-inline" action="" method="post" onsubmit="return confirm('Are you sure to delete {{ user_cert.cert.name }} (Filename: {{ user_cert.filename }})?');">
									{% csrf_token %}

									<input type="hidden" name="next" value="{{ request.get_full_path }}" />
									<input type="hidden" name="user_cert" value="{{ user_cert.id }}" />
									<input class="btn btn-danger btn-sm" type="submit" value="Delete" />
								</form>
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="100%">No previous Trainings found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


<div class="mt-5">
	{% if request.user.id == app_user.id %}

		{% if request.GET.p == 'account' %}
			<a class="btn btn-secondary d-inline" href="{% url 'app:user_details' request.user.id %}">Back to My Account</a>
		{% elif request.GET.p == 'training' %}
			<a class="btn btn-secondary d-inline" href="{% url 'app:user_trainings' user_id=latest_user_cert.user.id %}">Back to My Training Record</a>
		{% endif %}

	{% else %}

		{% if request.GET.p == 'account' %}
			<a class="btn btn-secondary d-inline" href="{% url 'app:user_details' user_id=latest_user_cert.user.id %}">Back to {{ app_user.get_full_name }}'s Account</a>
		{% elif request.GET.p == 'training' %}
			<a class="btn btn-secondary d-inline" href="{% url 'app:user_trainings' user_id=latest_user_cert.user.id %}">Back to {{ app_user.get_full_name }}'s Training Record</a>
		{% endif %}

	{% endif %}
</div>


{% endblock %}
