{% extends "lfs_lab_cert_tracker/base.html" %}

{% block content %}

{% if request.user.is_superuser %}
	{% include 'app/subpages/_admin_menu.html' %}
{% endif %}


{% if viewing %}
	{% include 'app/subpages/_viewing_info.html' with data=viewing %}
{% endif %}

{% if request.user.id != app_user.id %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{% url 'app:user_details' user_id=app_user.id %}">
					<i class="material-icons">home</i> {{ app_user.get_full_name }}'s Account
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{ app_user.get_full_name }}'s Training Record</li>
		</ol>
	</nav>

{% else %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{% url 'app:user_details' user_id=app_user.id %}">
					<i class="material-icons">home</i> My Account
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">My Training Record</li>
		</ol>
	</nav>

{% endif %}

{% include 'app/subpages/_return_message.html' with data=messages %}

<h3 class="title">
	{% if request.user.id == app_user.id %}
		My
	{% else %}
		{{ app_user.get_full_name }}'s
	{% endif %}
	Training Record
</h3>

<div class="box border-green mt-3">
	<h5 class="text-success">
		<i class="material-icons">verified_user</i> Training Record
	</h5>
	<div class="text-secondary">
		{% if user_cert_list %}
			<ul>
				{% for user_cert in user_cert_list %}
					<li>
						<a href="{% url 'app:user_training_details' user_id=app_user.id training_id=user_cert.id %}?p=training">
							{{ user_cert.name }}
						</a>
						{% if not user_cert.cert_file %}
							<span style="color: red">*</span> 
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% else %}
			You do not have any training records
		{% endif %}
	</div>
	<p style="font-size: 12px; color: #666;">Note: Records marked with <span style="color: red">*</span> automatically added.</p>
</div>

{% if missing_cert_list %}

	<div class="box border-red mt-5">
		<h5 class="text-danger">
			<i class="material-icons">notification_important</i> Missing Training Record
		</h5>
		<div class="text-secondary">
			<ul>
				{% for missing_cert in missing_cert_list %}
					<li>{{ missing_cert.name }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}

{% if expired_cert_list %}

	<div class="box border-gray mt-5">
		<h5 class="text-secondary">
			<i class="material-icons">warning</i> Expired Training Record
		</h5>
		<div class="text-secondary">
			<ul>
				{% for expired_cert in expired_cert_list %}
					<li>{{ expired_cert.name }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}

<h4 class="title text-info">Add Training Record</h4>

<div class="text-secondary mb-2">
	<small>
		- Valid file types: jpg, jpeg, png, pdf, doc, docx <br />
		- The maximum file size that can be uploaded is 1.5 MB. <br />
		- A filename has at most 256 characters.
	</small>
</div>

<form id="add_user_cert_form" action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}

	<table>{{ form.as_table }}</table>

	<input class="btn btn-primary mt-3" type="submit" value="Add Training Record" />
</form>


{% endblock %}
