{% extends "lfs_lab_cert_tracker/base.html" %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-md-6">
		<div class="accounts-login">
			<h3 class="login-title">LFS Access and Training Record System <br /> (LFS ATRS)</h3>

			<p class="text-secondary">Please click the button below to login</p>
			<a href="{{ site_url }}/app/">
				<img src="{% static 'lfs_lab_cert_tracker/images/CWL_login_button.gif' %}" alt="CWL login button"/>
			</a>
		</div>

		<div class="bd-callout bd-callout-danger mt-5">
			<h5>NEW FEATURE</h5>
			<p>LFS Training Record Management System (LFS TRMS) will be updated to include Key/Card/Alarm request all in one place - the new name will be <strong>LFS Access and Training Record System (LFS ATRS)</strong>.</p>
		</div>
	</div>

	<div class="col-md-6 pl-5">
		<div class="pin-note mt-5">
		  <div class="pin-note-title">
				<span class="material-symbols-outlined">campaign</span>
				About LFS Access and Training Record System (LFS ATRS)
			</div>
	  	<div class="pin-note-body font-size-nl">
				<p><strong>LFS Access and Training Record System (LFS ATRS)</strong> should provide a transparent and streamline process to fulfill safety training requirements while ensuring access requests can be processed and tracked properly. The LFS ATRS is built to fulfill the following:</p>
				<ul>
					<li>Collect and keep record of everyone's UBC work related training records required for LFS students, staff and faculty members.</li>
					<li>Ensure training requirements for each work area are up-to-date and fulfilled for the individual applying for key/fob/alarm request of the space.</li>
					<li>Automate missing training and expired training reminders to ensure all training requirements are kept up to date as best as possible.</li>
					<li><span class="badge badge-danger">NEW</span> Training requirements for each room in each LFS building will now need to be fulfilled and imported before the access request form becomes available for users.</li>
					<li><span class="badge badge-danger">NEW</span> Access request form and its downstream approval process will be transparent to users, supervisors and administrators, who can monitor the progress of access requests all in one place.</li>
				</ul>
				<p>Any questions regarding LFS ATRS can be directed to <a href="mailto:lfs.facilities@ubc.ca">lfs.facilities@ubc.ca</a>.</p>
		  </div>
		</div>
	</div>
</div>

{% endblock %}
