{% extends "lfs_lab_cert_tracker/base.html" %}
{% load custom_tags %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
	{% include 'app/subpages/return_message.html' with data=messages %}
{% endblock %}

{% block content %}

{% include 'key_request/left_side_menu.html' %}

<section class="main-content">
	<h3 class="title">
		All Requests
		<small class="text-secondary">(Total: {{ total_forms }})</small>
	</h3>

	<div class="row bg-light-gray border px-3 py-4 font-size-sm">
		<div class="col-md-9" style="border-right: 1px solid #bbb;">
			{% include 'key_request/subpages/search_filters.html' with path='all_requests' %}
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<h5>Number of <br /> New Requests</h5>
				<a class="h4" href="{% url 'key_request:all_requests' %}?page=1&status=New">{{ num_new_forms }}</a>
			</div>
		</div>
	</div>
	{% include 'key_request/subpages/search_results.html' with total=num_filtered_forms items=forms %}

	<table class="table table-bordered table-striped font-size-sm">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Full Name</th>
	      <th>Building & Room Info</th>
	      <th>Details</th>
	      <th>Status <br /> History</th>
	      <th>Submitted At</th>
	      <th>Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in forms %}
	      <tr>
	        <td>{{ form.id }}</td>
	        <td>{{ form.user.get_full_name }}</td>
					<td class="text-left">
						<ul class="list-minus-20">
							{% for room in form.rooms.all %}
								<li>
									{% if room.is_active %}
										{{ room.building.code }} {{ room.floor.name }} - Room {{ room.number}}
									{% else %}
										<s>{{ room.building.code }} {{ room.floor.name }} - Room {{ room.number}}</s>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</td>
	        <td>
						{% include 'key_request/subpages/modal_request_form_details.html' with id=forloop.counter form=form is_admin=is_admin %}
	        </td>
	        <td>
						{% if form.requestformstatus_set.all|length > 0 %}
							{% include 'key_request/subpages/modal_status_history.html' with id=forloop.counter data=form.requestformstatus_set.all %}
						{% else %}
							<span class="badge">NEW</span>
						{% endif %}
	        </td>
	        <td>
						{% include 'key_request/subpages/date_and_time.html' with data=form.submitted_at %}
	        </td>
	        <td>
	          <a class="d-block" href="{% url 'key_request:view_form_details' form_id=form.id %}?t=form_details&next={{ request.get_full_path }}">Details</a>
	        </td>
	      </tr>
			{% empty %}
				<tr>
					<td colspan="100%">No key request forms found</td>
				</tr>
	    {% endfor %}
	  </tbody>
	</table>

	{% include 'key_request/subpages/pagination.html' with data=forms %}
</section>

{% endblock %}
