{% extends "lfs_lab_cert_tracker/base.html" %}
{% load custom_tags %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
	{% include 'app/subpages/_return_message.html' with data=messages %}
{% endblock %}

{% block content %}

{% include 'key_request/left_side_menu.html' %}

<section class="main-content">
	<h3 class="title">
		All Rooms
		<small class="text-secondary">(Total: {{ total_rooms }})</small>
	</h3>

	<div class="mb-5">
	  <form method="GET">
			<input type="text" name="building" value="{{ request.GET.building }}" placeholder="Building" /> and
			<input type="text" name="floor" value="{{ request.GET.floor }}" placeholder="Floor" /> and
			<input type="text" name="number" value="{{ request.GET.number }}" placeholder="Room Number" />

			<div class="mt-1">
				<button class="btn btn-sm btn-primary" type="submit">Search</button>
			  <a class="btn btn-sm btn-secondary" href="{% url 'key_request:all_rooms' %}">Clear</a>
			</div>
		</form>
	</div>

	<table class="table table-bordered table-striped table-responsive-md text-center font-size-sm">
	  <thead>
	    <tr>
				<th>ID</th>
				<th>Building</th>
				<th>Floor</th>
	      <th>Room <br /> Number</th>
				<th>PIs</th>
	      <th>Areas</th>
				<th>Required Trainings</th>
				<th style="width: 100px;">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
			{% for room in rooms %}
	      <tr>
	        <td>{{ room.id }}</td>
					<td>{{ room.building.code }}</td>
					<td>{{ room.floor.name }}</td>
	        <td>{{ room.number }}</td>
					<td class="text-left">
						<ul class="list-minus-20">
							{% for manager in room.managers.all %}
		            <li>{{ manager.get_full_name }}</li>
		          {% endfor %}
						</ul>
					</td>
	        <td class="text-left">
						<ul class="list-minus-20">
		          {% for area in room.areas.all %}
		            <li>{{ area.name }}</li>
		          {% endfor %}
						</ul>
	        </td>
					<td class="text-left">
						<ul class="list-minus-20">
						{% for training in room.trainings.all %}
							<li>{{ training.name }}</li>
						{% endfor %}
						</ul>
					</td>
	        <td>
						<button class="btn btn-outline-primary btn-xs width-100p mb-2 table-trigger" type="button" data-toggle="modal" data-target="#room-managers-update-modal-{{ room.id }}" data-table="pis-table-{{ room.id }}">PIs</button>
						<div class="modal fade" id="room-managers-update-modal-{{ room.id }}" tabindex="-1" role="dialog" aria-labelledby="room-managers-update-modal-label-{{ room.id }}" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title text-info" id="room-managers-update-modal-label-{{ room.id }}">Update PIs in the room</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									</div>
									<div class="modal-body text-left">
										<form action="{% url 'key_request:change_room_managers' %}" method="post">
											{% csrf_token %}
											{% include 'key_request/subpages/room_managers_table.html' with room_id=room.id manager_ids=room.manager_ids %}
											<input type="hidden" name="room" value="{{ room.id }}" />
											<input class="btn btn-warning" type="submit" value="Update" />
										</form>
									</div>
								</div>
							</div>
						</div>

						<button class="btn btn-outline-primary btn-xs width-100p mb-2 table-trigger" type="button" data-toggle="modal" data-target="#room-areas-update-modal-{{ room.id }}"  data-table="areas-table-{{ room.id }}">Areas</button>
						<div class="modal fade" id="room-areas-update-modal-{{ room.id }}" tabindex="-1" role="dialog" aria-labelledby="room-areas-update-modal-label-{{ room.id }}" aria-hidden="true">
	            <div class="modal-dialog modal-lg" role="document">
	              <div class="modal-content">
	                <div class="modal-header">
	                  <h5 class="modal-title text-info" id="room-areas-update-modal-label-{{ room.id }}">Update Areas in the room</h5>
	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                </div>
	                <div class="modal-body text-left">
                    <form action="{% url 'key_request:change_room_areas' %}" method="post">
                      {% csrf_token %}
											{% include 'key_request/subpages/room_areas_table.html' with room_id=room.id area_ids=room.area_ids %}
                      <input type="hidden" name="room" value="{{ room.id }}" />
                      <input class="btn btn-warning" type="submit" value="Update" />
                    </form>
	                </div>
	              </div>
	            </div>
	          </div>

						<button class="btn btn-outline-primary btn-xs width-100p mb-2 table-trigger" type="button" data-toggle="modal" data-target="#room-trainings-update-modal-{{ room.id }}" data-table="trainings-table-{{ room.id }}">Trainings</button>
						<div class="modal fade" id="room-trainings-update-modal-{{ room.id }}" tabindex="-1" role="dialog" aria-labelledby="room-trainings-update-modal-label-{{ room.id }}" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title text-info" id="room-trainings-update-modal-label-{{ room.id }}">Update Trainings in the room</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									</div>
									<div class="modal-body text-left">
										<form action="{% url 'key_request:change_room_trainings' %}" method="post">
											{% csrf_token %}
											{% include 'key_request/subpages/room_trainings_table.html' with room_id=room.id training_ids=room.training_ids %}
											<input type="hidden" name="room" value="{{ room.id }}" />
											<input class="btn btn-warning" type="submit" value="Update" />
										</form>
									</div>
								</div>
							</div>
						</div>

	          <button class="btn btn-warning btn-xs width-100p mb-2" type="button" data-toggle="modal" data-target="#room-number-edit-modal-{{ room.id }}">Edit</button>
	          <div class="modal fade" id="room-number-edit-modal-{{ room.id }}" tabindex="-1" role="dialog" aria-labelledby="room-number-edit-modal-label-{{ room.id }}" aria-hidden="true">
	            <div class="modal-dialog" role="document">
	              <div class="modal-content">
	                <div class="modal-header">
	                  <h5 class="modal-title text-info" id="room-number-edit-modal-label-{{ room.id }}">Edit Room</h5>
	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                </div>
	                <div class="modal-body text-left">
	                  <div class="modal-item">
	                    <form action="{% url 'key_request:edit_room' %}" method="post">
	                      {% csrf_token %}

												<div class="mb-3">
													<label for="id_building_{{ room.id }}" class="font-weight-bold">
														Building:
														{% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}
													</label>
													<select name="building" class="form-control" id="id_building_{{ room.id }}">
														{% for building in buildings %}
															<option value="{{ building.id }}" {% if building.id == room.building.id %}selected{% endif %}>{{ building.name }} ({{ building.code }})</option>
														{% endfor %}
													</select>
												</div>

												<div class="mb-3">
													<label for="id_floor_{{ room.id }}" class="font-weight-bold">
														Floor:
														{% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}
													</label>
													<select name="floor" class="form-control" id="id_floor_{{ room.id }}">
														{% for floor in floors %}
															<option value="{{ floor.id }}" {% if floor.id == room.floor.id %}selected{% endif %}>{{ floor.name }}</option>
														{% endfor %}
													</select>
												</div>

	                      <div class="mb-3">
	                        <label for="id_number_{{ room.id }}" class="font-weight-bold">
	                          Name:
	                          {% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}
	                        </label>
	                        <input id="id_number_{{ room.id }}" class="form-control" type="text" name="number" value="{{ room.number }}" maxlength="10" required />
	                        <small class="text-muted">It must be unique. Maximum characters: 10</small>
	                      </div>

	                      <input type="hidden" name="room" value="{{ room.id }}" />
	                      <input class="btn btn-warning" type="submit" value="Update" />
	                    </form>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>

	          <form class="list-form width-100p" action="{% url 'key_request:delete_room' %}" method="post" onsubmit="return confirm('Are you sure to delete this room - {{ room.number }}?');">
	            {% csrf_token %}

	            <input type="hidden" name="room" value="{{ room.id }}"  />
	            <input class="btn btn-danger btn-xs width-100p" type="submit" value="Delete" style="vertical-align:top;" />
	          </form>
	        </td>
	      </tr>
	    {% empty %}
	      <tr>
	        <td colspan="100%">No rooms found</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>

	{% include 'key_request/subpages/pagination.html' with data=rooms %}

</section>

{% endblock %}

{% block js %}
	{% load static %}
  <script type="text/javascript" src="{% static 'lfs_lab_cert_tracker/js/all_rooms.js' %}"></script>
{% endblock %}
