{% extends "lfs_lab_cert_tracker/base.html" %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
	{% include 'app/subpages/return_message.html' with data=messages %}
{% endblock %}

{% block content %}

{% include 'key_request/left_side_menu.html' %}

<section class="main-content">
  <h3 class="mt-4 mb-3">Create Room</h3>

  <form action="" method="POST">
    {% csrf_token %}

    <nav class="mt-5">
      <div class="nav nav-tabs">
        <a class="nav-link {% if tab == 'basic_info' %}active{% endif %}" href="{{ tab_urls.basic_info }}">Basic Info</a>
        <a class="nav-link {% if tab == 'pis' %}active{% endif %}" href="{{ tab_urls.pis }}">PIs</a>
        <a class="nav-link {% if tab == 'areas' %}active{% endif %}" href="{{ tab_urls.areas }}">Areas</a>
        <a class="nav-link {% if tab == 'trainings' %}active{% endif %}" href="{{ tab_urls.trainings }}">Required Trainings</a>
      </div>
    </nav>

		<section class="pt-5">
			{% if tab == 'basic_info' %}
				<table id="basic-info-table" class="form-table">
					{% for field in form.visible_fields %}
						<tr>
							<th>
								<label for="{{ field.id_for_label }}">
									{{ field.label }}
									{% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}
								</label>
							</th>
							<td>
								{{ field }}
								{% if field.help_text %}
									<div class="helptext">{{ field.help_text|safe }}</div>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>
			{% elif tab == 'pis' %}
				{% include 'key_request/subpages/room_managers_table.html' with room_id='0' manager_ids=manager_ids %}
			{% elif tab == 'areas' %}
				{% include 'key_request/subpages/room_areas_table.html' with room_id='0' area_ids=area_ids %}
			{% elif tab == 'trainings' %}
				{% include 'key_request/subpages/room_trainings_table.html' with room_id='0' training_ids=training_ids %}
			{% else %}
				not
			{% endif %}
		</section>

		<input type="hidden" name="tab" value="{{ tab }}" />
		<div class="mt-3">
			<input class="btn btn-primary" name="method" type="submit" value="Create New Room" />
			{% if tab == 'trainings' %}
				<input class="btn btn-warning" name="method" type="submit" value="Save and Back to Basic Info" />
			{% else %}
				<input class="btn btn-warning" name="method" type="submit" value="Save and Next" />
			{% endif %}
		</div>
  </form>

</section>

{% endblock %}


{% block js %}
	{% load static %}
	<script type="text/javascript" src="{% static 'lfs_lab_cert_tracker/js/room_data.js' %}"></script>
{% endblock %}
