{% extends "lfs_lab_cert_tracker/base.html" %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
{% endblock %}

{% include 'app/subpages/_return_message.html' with data=messages %}

{% block content %}

{% include 'key_request/left_side_menu.html' %}

<section class="main-content">
  <h3 class="mt-4 mb-3">Create Room</h3>

  <form action="" method="POST">
    {% csrf_token %}

    <nav class="mt-5">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-number-tab" data-toggle="tab" data-target="#nav-number" type="button" role="tab" aria-controls="nav-number" aria-selected="true">Basic Info</button>
        <button class="nav-link" id="nav-pis-tab" data-toggle="tab" data-target="#nav-pis" type="button" role="tab" aria-controls="nav-pis" aria-selected="true">PIs</button>
        <button class="nav-link" id="nav-areas-tab" data-toggle="tab" data-target="#nav-areas" type="button" role="tab" aria-controls="nav-areas" aria-selected="false">Areas</button>
        <button class="nav-link" id="nav-trainings-tab" data-toggle="tab" data-target="#nav-trainings" type="button" role="tab" aria-controls="nav-trainings" aria-selected="false">Required Trainings</button>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active pt-5" id="nav-number" role="tabpanel" aria-labelledby="nav-number-tab">
        <table class="form-table">
          {% for field in form.visible_fields %}
            <tr>
              <th>
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.name == 'number' %}
                    {% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}
                  {% endif %}
                </label>
              </th>
              <td>
                {{ field }}
                {% if field.help_text %}
                  <div class="helptext">{{ field.help_text|safe }}</div>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>

      <div class="tab-pane fade pt-4" id="nav-pis" role="tabpanel" aria-labelledby="nav-pis-tab">
        <table
          class="table table-bordered table-striped table-responsive-md"
          data-toggle="table"
          data-sortable="true"
          data-classes=""
          data-pagination="true"
          data-search="true"
          data-page-size="10"
          data-page-list="[10, 20, 30, 50, 100, all]"
        >
          <thead>
            <tr>
              <th data-sortable="true">Last Name</th>
              <th data-sortable="true">First Name</th>
              <th data-sortable="true">CWL</th>
              <th>Select</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>{{ user.last_name }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.username }}</td>
                <td>
                  <input type="checkbox" name="manager[]" value="{{ user.id }}" />
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade pt-4" id="nav-areas" role="tabpanel" aria-labelledby="nav-areas-tab">
        <table
          class="table table-bordered table-striped table-responsive-md"
          data-toggle="table"
          data-classes=""
          data-pagination="true"
          data-search="true"
          data-page-size="10"
          data-page-list="[10, 20, 30, 50, 100, all]"
        >
          <thead>
            <tr>
              <th>Area Name</th>
              <th>Select</th>
            </tr>
          </thead>
          <tbody>
            {% for area in areas %}
              <tr>
                <td class="text-left">{{ area.name }}</td>
                <td>
                  <input type="checkbox" name="area[]" value="{{ area.id }}" />
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade pt-4" id="nav-trainings" role="tabpanel" aria-labelledby="nav-trainings-tab">
        <table
          class="table table-bordered table-striped table-responsive-md"
          data-toggle="table"
          data-classes=""
          data-pagination="true"
          data-search="true"
          data-page-size="10"
          data-page-list="[10, 20, 30, 50, 100, all]"
        >
          <thead>
            <tr>
              <th>Training Name</th>
              <th>Select</th>
            </tr>
          </thead>
          <tbody>
            {% for training in trainings %}
              <tr>
                <td class="text-left">{{ training.name }}</td>
                <td>
                  <input type="checkbox" name="training[]" value="{{ training.id }}" />
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <input class="btn btn-primary mt-3" type="submit" value="Create New Room" />
  </form>

</section>

{% endblock %}
