{% extends "lfs_lab_cert_tracker/base.html" %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
	{% include 'app/subpages/_return_message.html' with data=messages %}
{% endblock %}

{% block content %}

{% include 'key_request/left_side_menu.html' %}

<section class="main-content">
  <h3 class="mt-4 mb-3">Create Room</h3>

  <form action="" method="POST">
    {% csrf_token %}

    <nav class="mt-5">
      <div class="nav nav-tabs">
        <a class="nav-link {% if curr_tab == 'basic_info' %}active{% endif %}" href="{{ tab_urls.basic_info }}">Basic Info</a>
        <a class="nav-link {% if curr_tab == 'pis' %}active{% endif %}" href="{{ tab_urls.pis }}">PIs</a>
        <a class="nav-link {% if curr_tab == 'areas' %}active{% endif %}" href="{{ tab_urls.areas }}">Areas</a>
        <a class="nav-link {% if curr_tab == 'trainings' %}active{% endif %}" href="{{ tab_urls.trainings }}">Required Trainings</a>
      </div>
    </nav>

		<section class="pt-5">
			{% if curr_tab == 'pis' %}

				{% include 'key_request/subpages/room_pis_table.html' with room_id='0' %}

			{% elif curr_tab == 'areas' %}

				{% include 'key_request/subpages/room_areas_table.html' with room_id='0' %}

			{% elif curr_tab == 'trainings' %}

				{% include 'key_request/subpages/room_trainings_table.html' with room_id='0' %}

			{% else %}

				<table class="form-table">
					{% for field in form.visible_fields %}
						<tr>
							<th>
								<label for="{{ field.id_for_label }}">
									{{ field.label }}
									{% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}
								</label>
							</th>
							<td>
								{{ field }}
								{% if field.help_text %}
									<div class="helptext">{{ field.help_text|safe }}</div>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>

			{% endif %}

		</section>

    <input class="btn btn-primary mt-3" type="submit" value="Create New Room" />
  </form>

</section>

{% endblock %}


{% block js %}
	{% load static %}
  <script type="text/javascript" src="{% static 'lfs_lab_cert_tracker/js/all_rooms.js' %}"></script>
{% endblock %}
