{% extends "lfs_lab_cert_tracker/base.html" %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
	{% include 'app/subpages/return_message.html' with data=messages %}
{% endblock %}

{% block content %}

{% include 'key_request/left_side_menu.html' %}

<section class="main-content">
  <nav>
    <a href="{{ next }}">All Rooms</a>
    {% include 'lfs_lab_cert_tracker/icons/arrow_right.html' %}
    <span class="text-secondary">Edit Room: {{ room.building.code }} {{ room.floor.name }} - Room {{ room.number }} (ID: {{ room.id }})</span>
  </nav>

  <h3 class="mt-4 mb-3">Edit Room: {{ room.building.code }} {{ room.floor.name }} - Room {{ room.number }} (ID: {{ room.id }})</h3>

  {% include 'key_request/admin/_form.html' with path='edit_room' %}
</section>

{% endblock %}

{% block js %}
	{% load static %}
	<script type="text/javascript" src="{% static 'lfs_lab_cert_tracker/js/room_data.js' %}"></script>
{% endblock %}
