{% load custom_tags %}

<section class="main-content">
	<h3 class="title">
		{{ title }} Requests
		<small class="text-secondary">(Total: {{ total_forms }})</small>
	</h3>

  {% if title == 'All' %}
  	<div class="row bg-light-gray border px-3 py-4 font-size-sm">
  		<div class="col-md-9" style="border-right: 1px solid #bbb;">
  			{% include 'key_request/subpages/search_filters.html' with path='all_requests' %}
  		</div>
  		<div class="col-md-3">
  			<div class="text-center">
  				<h5>Number of <br /> New Requests</h5>
  				<a class="h4" href="{% url 'key_request:all_requests' %}?page=1&status=New">{{ num_new_forms }}</a>
  			</div>
  		</div>
  	</div>
  {% elif title == 'Expired' %}
    <div class="row bg-light-gray border p-4 font-size-sm">
      {% include 'key_request/subpages/search_filters.html' with path='expired_requests' %}
    </div>
  {% endif %}

	{% include 'key_request/subpages/search_results.html' with total=num_filtered_forms items=forms %}

	<table class="table table-bordered table-striped font-size-sm">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Full Name</th>
	      <th>Building & Room Info</th>
        <th>Supervisor</th>
	      <th>Details</th>
	      <th>Status <br /> History</th>
	      <th>Submitted <br /> Date</th>
				<th>Expiry <br /> Date</th>
        {% if title == 'All' %}
          <th>Action</th>
        {% endif %}
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in forms %}
	      <tr>
	        <td>{{ form.id }}</td>
	        <td>{{ form.user.get_full_name }}</td>
					<td class="text-left">
						<ul class="list-minus-20">
							{% for room in form.rooms.all %}
								<li>
									{% if room.is_active %}
										{{ room|display_room }}
									{% else %}
										<s>{{ room|display_room }}</s>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</td>
					<td>{{ form.supervisor.get_full_name }}</td>
            <td>
              {% include 'key_request/subpages/modal_request_form_details.html' with id=forloop.counter form=form is_admin=is_admin %}
            </td>
	        <td>
						{% if form.is_new %}
              <span class="badge">NEW</span>
						{% else %}
              {% include 'key_request/subpages/modal_status_history.html' with id=forloop.counter data=form.requestformstatus_set.all %}
						{% endif %}
	        </td>
          <td>
            {% include 'key_request/subpages/date_and_time.html' with data=form.submitted_at %}
          </td>
            <td>
              {{ form.expiry_date }}
              {% if form.expiry_date %}
                <br />
                <span class="text-chocolate font-size-xs">{{ form.expiry_date|remaining_days|safe }}</span>
              {% endif %}
            </td>
          {% if title == 'All' %}
  	        <td>
  	          <a class="d-block" href="{% url 'key_request:view_form_details' form_id=form.id %}?t=selected_rooms&next={{ request.get_full_path }}">Details</a>
  	        </td>
          {% endif %}
	      </tr>
			{% empty %}
				<tr>
					<td colspan="100%">No request forms found</td>
				</tr>
	    {% endfor %}
	  </tbody>
	</table>

	{% include 'key_request/subpages/pagination.html' with data=forms %}
</section>
