{% extends "lfs_lab_cert_tracker/base.html" %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
	{% include 'app/subpages/return_message.html' with data=messages %}
{% endblock %}

{% block content %}

{% include 'key_request/left_side_menu.html' %}

<section class="main-content">
	<h3 class="title">Key Request</h3>

	<div class="bg-prompt mb-5">
		<div class="prompt text-center p-4 mb-4">
			<p>If you would like to request access the Faculty of Land and Food systems areas, please click the <strong>Request</strong> button below.</p>
			<a class="btn btn-secondary mr-2" href="{% url 'app:user_details' user_id=request.user.id %}">Go back</a>
			<a class="btn btn-primary" href="{% url 'key_request:select_rooms' %}">Request</a>
		</div>
	</div>

	<h4 class="text-info mb-4">
		History
		<small class="text-secondary">(Total: {{ total_forms }})</small>
	</h4>

	<table class="table table-bordered table-striped table-responsive-md">
		<thead>
			<tr>
				<th data-sortable="true">#</th>
				<th>Form Details</th>
				<th>Status</th>
				<th>Submitted At</th>
			</tr>
		</thead>
		<tbody>
			{% for form in forms %}
				<tr>
					<td>{{ forloop.revcounter }}</td>
					<td>
						{% include 'key_request/subpages/modal_request_form_details.html' with id=form.id form=form is_admin=is_admin %}
					</td>
					<td>
						{% include 'key_request/subpages/request_status.html' with data=form.status %}
						{% if form.status == 'Approved' %}
							{% include 'key_request/subpages/date_and_time.html' with data=form.status_created_at font_size='font-size-sm' %}
						{% endif %}
					</td>
					<td>
						{% include 'key_request/subpages/date_and_time.html' with data=form.submitted_at %}
					</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="100%">No key requrest forms found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include 'key_request/subpages/pagination.html' with data=forms %}
</section>

{% endblock %}

{% block js %}

<script type="text/javascript">

$(document).ready(function() {

	// Remove the key request data in the session storage
	if (sessionStorage.getItem('key-request-data')) {
		sessionStorage.removeItem('key-request-data');
	}
});

</script>

{% endblock %}
