{% extends "lfs_lab_cert_tracker/base.html" %}
{% load custom_tags %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu_nav.html" %}
{% endblock %}

{% block content %}

{% include 'app/subpages/_return_message.html' with data=messages %}

<h3 class="title">Form Details</h3>

<h4 class="text-info mt-5 mb-4">Selected Rooms</h4>

<table id="selected-rooms" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Building</th>
      <th>Floor</th>
      <th>Room <br /> Number</th>
      <th>Areas</th>
      <th>PI</th>
			<th>Operator</th>
			<th>Status <br /> History</th>
			<th>Action</th>
			<th>
				<input id="select-all-checkbox" type="checkbox" />
			</th>
    </tr>
  </thead>
  {% for item in items %}
    <tr>
      <td>{{ form.id }} | {{ item.room.id }}</td>
      <td>{{ item.room.building.code }}</td>
      <td>{{ item.room.floor.name }}</td>
      <td>{{ item.room.number }}</td>
      <td class="text-left">
        <ul class="ml-minus-20">
          {% for area in item.room.areas.all %}
            <li>{{ area.name }}</li>
          {% endfor%}
        </ul>
      </td>
      <td>{{ item.manager.full_name }}</td>
			<td>{{ item.status.last.operator_id|get_user_full_name }}</td>
			<td>
				{% if item.status|length > 0 %}
					{% include 'key_request/subpages/modal_status_history.html' with id=forloop.counter data=item.status %}
				{% endif %}
			</td>
			<td>
				{% include 'key_request/subpages/update_status_form.html' with post_url=post_url data=item %}
			</td>
			<td>
				<input class="room-checkbox" type="checkbox" value="{{ form.id }}_{{ item.room.id }}_{{ item.manager.id }}" data-building="{{ item.room.building.code }}" data-floor="{{ item.room.floor.name }}" data-number="{{ item.room.number }}" data-pi="{{ item.manager.full_name }}" data-is_new="{% if item.status|length == 0 %}true{% else %}false{% endif %}"/>
			</td>
    </tr>
  {% endfor %}
</table>

{% include 'key_request/subpages/modal_rooms_update_all.html' %}

<h4 class="text-info mt-5 mb-4">Users's Training Records</h4>

{% include 'key_request/subpages/table_user_trainings.html' with user_trainings=form.user_trainings %}

{% include 'key_request/subpages/table_request_form_details.html' with data=form %}

<div class="text-center mt-5">
	<a class="btn btn-secondary" href="{% url 'key_request:all_requests' %}">Go back</a>
</div>

{% endblock %}

{% block js %}
	{% load static %}
	<script type="text/javascript" src="{% static 'lfs_lab_cert_tracker/js/rooms_select_all.js' %}"></script>
{% endblock %}
