{% extends "lfs_lab_cert_tracker/base.html" %}

{% block content %}

{% if is_admin %}
	{% include 'app/subpages/_admin_menu.html' %}
{% endif %}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			{% if request.user.is_superuser %}
				<a href="{% url 'app:all_areas' %}">All Areas</a>
			{% else %}
				<a href="{% url 'app:user_areas' user_id=request.user.id %}">My Work Area(s)</a>
			{% endif %}
		</li>
		<li class="breadcrumb-item active" aria-current="page">Area: {{ area.name }}</li>
	</ol>
</nav>

{% include 'app/subpages/_return_message.html' with data=messages %}

<h2 class="title">Area: {{ area.name }}</h2>

<div class="card border-primary">
	<div class="card-header bg-primary text-white">
		Required Training Records
		<small>(Total: {{ required_certs|length }})</small>
	</div>

	<div class="card-body">
			<div class="card-text">
				<table class="table table-borderless table-striped table-hover table-responsive-md table-sm">
					<tbody>
						{% for cert in required_certs %}
					    <tr>
								<td>{{ forloop.counter }}.</td>
								<td>{{ cert.name }}</td>
								<td>
									{% if is_admin %}
										<form class="d-inline float-right" action="{% url 'app:delete_training_in_area' %}" method="post" onsubmit="return confirm('Are you sure to remove {{ cert.name }}?');">
											{% csrf_token %}

											<input type="hidden" name="area" value="{{ area.id }}" />
											<input type="hidden" name="training" value="{{ cert.id }}" />
											<input class="btn btn-danger btn-sm" type="submit" value="Remove" />
										</form>
									{% endif %}
								</td>
					    </tr>
						{% empty %}
							<tr>
								<td colspan="100%">There are no required trainings in this Area.</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	</div>
</div>

<section class="mt-5">
	<h4 class="text-primary">
		Users in Area
		<small class="text-secondary">(Total: {{ users_in_area|length }})</small>
	</h4>

	<table class="table table-bordered table-striped table-hover table-responsive-md text-center table-sm table-vertical-middle"
	  data-toggle="table"
	  data-sortable="true"
	  data-classes=""
	  data-pagination="true"
	  data-search="true"
	  data-page-size="10"
	  data-page-list="[20, 30, 50, 100, all]"
	>
		<thead>
	    <tr>
				<th>#</th>
	      <th>CWL</th>
				<th data-sortable="true">First Name</th>
				<th data-sortable="true">Last Name</th>
				<th data-sortable="true">Supervisor?</th>
				<th>Actions</th>
	    </tr>
	  </thead>
		<tbody>
			{% for user in users_in_area %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>
						<a href="{% url 'app:user_details' user_id=user.id %}?next={% url 'app:area_details' area_id=area.id %}">{{ user.username }}</a>

						{% if not user.is_active %}
							<span class="badge badge-secondary">Inactive</span>
						{% endif %}
					</td>
					<td>{{ user.first_name }}</td>
					<td>{{ user.last_name }}</td>
					<td>
						{% if user.is_pi %}
							<span class="badge badge-success">Supervisor</span>
						{% endif %}
					</td>
					<td>
						{% if is_admin or is_pi %}
							<form class="list-form" action="{% url 'app:switch_user_role_in_area' area_id=area.id %}" method="post" onsubmit="return confirm('Are you sure to switch a role for this user - {{user.username}} {% if user.is_pi %} from Supervisor to User {% else %} from User to Supervisor {% endif %}?');">
								{% csrf_token %}

								<input type="hidden" name="user" value="{{ user.id }}" />
								<input type="hidden" name="area" value="{{ area.id }}" />
								<input class="btn btn-info btn-sm" type="submit" value="Switch Role" />
							</form>

							<form class="list-form" action="{% url 'app:delete_user_in_area' area_id=area.id %}" method="post" onsubmit="return confirm('Are you sure to remove User - {{user.username}}?');">
								{% csrf_token %}

								<input type="hidden" name="user" value="{{ user.id }}" />
								<input type="hidden" name="area" value="{{ area.id }}" />
								<input class="btn btn-danger btn-sm" type="submit" value="Remove"/>
							</form>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</section>

<section class="mt-5">
	<h4 class="text-danger">
		Users: Missing Training Records
		<small class="text-secondary">(Total: {{ users_missing_certs|length }})</small>
	</h4>
	<table class="table table-bordered table-striped table-hover table-responsive-md text-center table-sm table-vertical-middle"
		data-toggle="table"
	  data-sortable="true"
	  data-classes=""
	  data-pagination="true"
	  data-search="true"
	  data-page-size="10"
	  data-page-list="[20, 30, 50, 100, all]"
	>
		<thead>
			<tr>
				<th>#</th>
				<th>CWL</th>
				<th data-sortable="true">First Name</th>
				<th data-sortable="true">Last Name</th>
				<th>Missing Training Records</th>
			</tr>
		</thead>
		<tbody>
		{% for user_missing_cert in users_missing_certs %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>
					<a href="{% url 'app:user_details' user_id=user_missing_cert.user.id %}?next={% url 'app:area_details' area_id=area.id %}">
						{{ user_missing_cert.user.username }}
					</a>
				</td>
				<td>{{ user_missing_cert.user.first_name }}</td>
				<td>{{ user_missing_cert.user.last_name }}</td>
				<td class="text-left">
					<ul>
						{% for cert in user_missing_cert.missing_certs %}
							<li>{{ cert.name }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</section>

<section class="mt-5">
	<h4>
		Users: Expired Training Records
		<small class="text-secondary">(Total: {{ users_expired_certs|length }})</small>
	</h4>
	<table class="table table-bordered table-striped table-hover table-responsive-md text-center table-sm table-vertical-middle"
		data-toggle="table"
		data-sortable="true"
		data-classes=""
		data-pagination="true"
		data-search="true"
		data-page-size="10"
		data-page-list="[20, 30, 50, 100, all]"
	>
		<thead>
			<tr>
				<th>#</th>
				<th>CWL</th>
				<th data-sortable="true">First Name</th>
				<th data-sortable="true">Last Name</th>
				<th>Expired Training Records</th>
			</tr>
		</thead>
		<tbody>
			{% for user_expired_cert in users_expired_certs %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>
						<a href="{% url 'app:user_details' user_id=user_expired_cert.user.id %}?next={% url 'app:area_details' area_id=area.id %}">
							{{ user_expired_cert.user.username }}
						</a>
					</td>
					<td>{{ user_expired_cert.user.first_name }}</td>
					<td>{{ user_expired_cert.user.last_name }}</td>
					<td class="text-left">
						<ul>
							{% for cert in user_expired_cert.expired_certs %}
								<li>{{ cert.name }}</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</section>

{% if is_admin or is_pi %}

	<h4 class="text-info mt-5">Add User to Area</h4>

	<form action="" method="post">
		{% csrf_token %}

		<table>{{ user_area_form.as_table }}</table>

		<input class="btn btn-primary mt-3" type="submit" value="ADD" />
	</form>

{% endif %}

{% if is_admin %}

	<h4 class="text-info mt-5">Add Training to Area</h4>

	<form action="{% url 'app:add_training_area' %}" method="post">
		{% csrf_token %}

		<table>{{ area_training_form.as_table }}</table>

		<input class="btn btn-primary mt-3" type="submit" value="ADD" />
	</form>

{% endif %}

{% endblock %}
