{% extends "lfs_lab_cert_tracker/base.html" %}

{% block content %}

{% if request.user.is_superuser %}
	{% include 'app/subpages/_admin_menu.html' %}
{% endif %}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'app:user_details' user_id=request.user.id %}">
				<i class="material-icons">home</i> My Account
			</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">My Work Area(s)</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-10 offset-md-1">
		<h3 class="title">
			My Work Area(s)
			<small class="text-secondary">(Total: {{ user_labs|length }})</small>
		</h3>
		<ul>
			{% for user_lab in user_labs %}
				<li>{{ user_lab.lab.name }}</li>
			{% empty %}
				<li>You are not in work area(s)</li>
			{% endfor %}
		</ul>

		{% if user_labs_pi %}
			<h3 class="title">
				Main Work Area(s)
				<small class="text-secondary">(Total: {{ user_labs_pi|length }})</small>
			</h3>
			<ul>
				{% for user_lab in user_labs_pi %}
				<li>
					<a href="{% url 'app:area_details' area_id=user_lab.lab.id %}?t=users_in_area">{{ user_lab.lab.name }}</a>
				</li>
				{% endfor %}
			</ul>
		{% endif %}

		<a class="btn btn-secondary mt-5" href="{% url 'app:user_details' request.user.id %}">Back to My Account</a>
	</div>
</div>

{% endblock %}
