{% extends "lfs_lab_cert_tracker/base.html" %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
{% endblock %}

{% block content %}

<section class="main-content">

	<nav class="font-size-sm">
		<a href="{% url 'app:user_details' user_id=request.user.id %}">
			{% include 'lfs_lab_cert_tracker/icons/home.html' %}
			My Account
		</a>
		{% include 'lfs_lab_cert_tracker/icons/arrow_right.html' with font_size='font-size-20px' %}
		<span>My Work Area(s)</span>
	</nav>

	<div class="row">
		<div class="col-md-10 offset-md-1">
			<h3 class="title">
				My Work Area(s)
				<small class="text-secondary">(Total: {{ user_labs|length }})</small>
			</h3>
			<ul>
				{% for user_lab in user_labs %}
					<li>{{ user_lab.lab.name }}</li>
				{% empty %}
					<li>You are not in work area(s)</li>
				{% endfor %}
			</ul>

			{% if user_labs_pi %}
				<h3 class="title">
					Main Work Area(s)
					<small class="text-secondary">(Total: {{ user_labs_pi|length }})</small>
				</h3>
				<ul>
					{% for user_lab in user_labs_pi %}
					<li>
						<a href="{% url 'app:area_details' area_id=user_lab.lab.id %}?t=users_in_area">{{ user_lab.lab.name }}</a>
					</li>
					{% endfor %}
				</ul>
			{% endif %}

			<a class="btn btn-secondary mt-5" href="{% url 'app:user_details' request.user.id %}">Back to My Account</a>
		</div>
	</div>

</section>

{% endblock %}
