{% load custom_tags %}

<ol class="list-minus-20 text-left">
  {% for room in form.rooms.all %}
    <li>
      <span class="font-weight-semibold font-size-sm">
        {% if room.is_active %}
          {{ room|display_room }}
        {% else %}
          <s>{{ room|display_room }}</s>
        {% endif %}
      </span>

      <br />
      {% with room_emails=room|check_room_emails:form.id %}
        <ul class="list-minus-20 font-size-xs">
          <li>
            <span class="badge badge-primary">KEY</span>
            {% if room_emails.key %}
              {{ room_emails.key }}
            {% else %}
              Not sent
            {% endif %}
          </li>
          <li>
            <span class="badge badge-success">CARD</span>
            {% if room_emails.card_access %}
              {{ room_emails.card_access }}
            {% else %}
              Not sent
            {% endif %}
          </li>
          <li>
            <span class="badge badge-warning">ALARM</span>
            {% if room_emails.alarm %}
              {{ room_emails.alarm }}
            {% else %}
              Not sent
            {% endif %}
          </li>
        </ul>
      {% endwith %}
    </li>

    {% if not forloop.last %}
      <hr />
    {% endif %}
  {% endfor %}
</ol>
