{% load custom_tags %}

<ol>
  {% for room in form.rooms.all %}
    <li>
      {% with room_expiry_date=form|room_expiry_date:room.id %}
        {% if room_expiry_date %}
          {{ room_expiry_date.expiry_date }}
          <br />
          <span class="text-chocolate font-size-xs">{{ room_expiry_date.expiry_date|remaining_days|safe }}</span>
        {% else %}
          N/A
        {% endif %}
      {% endwith %}

      {% if not forloop.last %}
        <hr />
      {% endif %}
    </li>
  {% endfor %}
</ol>
