{% load custom_tags %}

{% with room_email_count=room|count_by_email_type:email_type %}
  {% if room_email_count > 0 %}
    <br />
    <button class="btn btn-info btn-sm mt-2" type="button" data-toggle="modal" data-target="#room-email-modal-{{ room.id }}-{{ email_type }}">
      View ({{ room_email_count }})
    </button>

    <div class="modal fade" id="room-email-modal-{{ room.id }}-{{ email_type }}" tabindex="-1" role="dialog" aria-labelledby="room-email-modal-label-{{ room.id }}-{{ email_type }}" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="room-email-modal-label-{{ room.id }}-{{ email_type }}">Room Email (Type: {{ email_type }})</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body text-left">
            {% with room_email=room|get_room_email:email_type %}
              {{ room_email.message|safe }}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endwith %}
