{% load custom_tags %}

<button class="btn btn-info btn-sm mr-2" type="button" data-toggle="modal" data-target="#key-request-form-modal-{{ id }}">View</button>

<div class="modal fade" id="key-request-form-modal-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="key-request-form-modal-label-{{ id }}" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info" id="key-request-form-modal-label-{{ id }}">Key Request Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-left font-size-nl">
        <nav>
          <div class="nav nav-tabs" id="nav-tab-{{ id }}" role="tablist">
            <button class="nav-link active" id="nav-selected-rooms-tab-{{ id }}" data-toggle="tab" data-target="#nav-selected-rooms-{{ id }}" type="button" role="tab" aria-controls="nav-selected-rooms-{{ id }}" aria-selected="false">Selected Rooms</button>
            <button class="nav-link" id="nav-form-details-tab-{{ id }}" data-toggle="tab" data-target="#nav-form-details-{{ id }}" type="button" role="tab" aria-controls="nav-form-details-{{ id }}" aria-selected="true">Form Details</button>
            <button class="nav-link" id="nav-training-records-tab-{{ id }}" data-toggle="tab" data-target="#nav-training-records-{{ id }}" type="button" role="tab" aria-controls="nav-training-records-{{ id }}" aria-selected="false">Training Records</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent-{{ id }}">
          <div class="tab-pane fade show active pt-5" id="nav-selected-rooms-{{ id }}" role="tabpanel" aria-labelledby="nav-selected-rooms-tab-{{ id }}">
            {% include 'key_request/subpages/table_selected_rooms.html' with form=form rooms=form.rooms.all is_admin=is_admin %}
          </div>

          <div class="tab-pane fade pt-5" id="nav-form-details-{{ id }}" role="tabpanel" aria-labelledby="nav-form-details-tab-{{ id }}">
            {% include 'key_request/subpages/table_request_form_details.html' with form=form %}
          </div>

          <div class="tab-pane fade pt-4" id="nav-training-records-{{ id }}" role="tabpanel" aria-labelledby="nav-training-records-tab-{{ id }}">
            <h6>Quick Summary</h6>
            <ul>
              <li>Total Training Records: <strong class="text-chocolate">{{ form.user_trainings|length }}</strong></li>
              <li>Number of Missing Trainings: <strong class="text-danger">{{ form.total_missing }}</strong></li>
              <li>Number of Expired Trainings: <strong class="text-danger">{{ form.total_expired }}</strong></li>
            </ul>
            {% include 'key_request/subpages/table_user_trainings.html' with user_trainings=form.user_trainings id_visible='True' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
