{% include 'key_request/subpages/room_search.html' with table='trainings' id=room_id %}

<table id="trainings-table-{{ room_id }}" class="table table-bordered table-striped table-responsive-md font-size-sm">
	<thead>
		<tr>
			<th>ID</th>
			<th>Training</th>
			<th>Select</th>
		</tr>
	</thead>
	<tbody>
		{% for training in trainings %}
			<tr>
				<td>{{ training.id }}</td>
				<td class="text-left">{{ training.name }}</td>
				<td>
					<input type="checkbox" name="training[]" value="{{ training.id }}" {% if training.id in room.training_ids %}checked{% endif %} />
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% include 'key_request/subpages/room_pagination.html' with table='trainings' id=room_id %}
