{% include 'key_request/subpages/room_search.html' with table='areas' id=room_id placeholder="Search area..."%}

<table id="areas-table-{{ room_id }}" class="table table-bordered table-striped table-responsive-md font-size-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Area</th>
      <th>Select</th>
    </tr>
  </thead>
  <tbody>
    {% for area in areas %}
      <tr>
        <td>{{ area.id }}</td>
        <td class="text-left">{{ area.name }}
            {% if area.labcert_set.all %}
                <span class="material-symbols-outlined" style="cursor: pointer"
                      title="Click to view trainings"
                      data-toggle="collapse"
                      data-target="#certSidebar-{{ area.id }}"
                      aria-expanded="false">
                info</span>
                {# cert-sidebar is custom css so the sidebar appears smoothly from the side #}
                <div class="collapse cert-sidebar shadow h-100 w-25 bg-white position-fixed pl-3 overflow-auto position-absolute"
                     style="top: 0; right: 0;"
                     id="certSidebar-{{ area.id }}">
                        <div class="modal-header mb-2">
                            <h5 class="modal-title text-info">{{ area.name }} Training</h5>
                            <button type="button" class="close" data-toggle="collapse" data-target="#certSidebar-{{ area.id }}" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <ul class="list-minus-20">
                            {% for labcert in area.labcert_set.all %}
                                <li>{{ labcert.cert.name }}</li>
                            {% endfor %}
                        </ul>
                </div>
            {% endif %}
        </td>
        <td>
          <input type="checkbox" name="areas[]" value="{{ area.id }}" {% if area.id in area_ids %}checked{% endif %} />
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'key_request/subpages/room_pagination.html' with table='areas' id=room_id %}
