{% include 'key_request/subpages/room_search.html' with table='areas' id=room_id placeholder="Search area..."%}

<table id="areas-table-{{ room_id }}" class="table table-bordered table-striped table-responsive-md font-size-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Area</th>
      <th>Supervisors/PIs</th>
      <th>Select</th>
    </tr>
  </thead>
  <tbody>
    {% for area in areas %}
      <tr>
        <td>{{ area.id }}</td>
        <td class="text-left">{{ area.name }}</td>
        <td class="text-left">
          {% if area.managers %}
              <ul class="mb-0">
                  {% for manager in area.managers %}
                      <li>{{  manager.get_full_name }}</li>
                  {% endfor %}
              </ul>
          {% else %}
              <p>No supervisors/PIs in this area</p>
          {% endif %}
      </td>
        <td>
          <input type="checkbox" name="areas[]" value="{{ area.id }}" {% if area.id in area_ids %}checked{% endif %} />
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'key_request/subpages/room_pagination.html' with table='areas' id=room_id %}
