<nav class="pagination-container d-flex justify-content-center">
  <button id="first-btn-{{ table }}-table-{{ id }}" class="page-item" type="button">First</button>
  <button id="prev-btn-{{ table }}-table-{{ id }}" class="page-item" type="button">&laquo;</button>
  <div id="pagination-{{ table }}-table-{{ id }}" class="pagination"></div>
  <button id="next-btn-{{ table }}-table-{{ id }}" class="page-item" type="button">&raquo;</button>
  <button id="last-btn-{{ table }}-table-{{ id }}" class="page-item" type="button">Last</button>
</nav>
