{% load custom_tags %}

<table class="table table-bordered table-striped table-responsive-md font-size-sm" >
  <thead>
    <tr>
      <th>
        {% if is_admin %}
          Room <br /> ID
        {% else %}
          #
        {% endif %}
      </th>
      <th>Building</th>
      <th>Floor</th>
      <th>Room <br /> Number</th>
      <th>Areas</th>
      {% if is_admin %}
        <th>PIs</th>
      {% endif %}
      <th>Required Trainings</th>
    </tr>
  </thead>
  {% for room in rooms %}
    <tr>
      <td>
        {% if is_admin %}
          {{ room.id }}
        {% else %}
          {{ forloop.counter }}
        {% endif %}
      </td>
      <td>{{ room.building.code }}</td>
      <td>{{ room.floor.name }}</td>
      <td>{{ room.number }}</td>
      <td class="text-left">
        <ul class="list-minus-20">
          {% for area in room.areas.all %}
            <li>{{ area.name }}</li>
          {% endfor%}
        </ul>
      </td>
      {% if is_admin %}
        <td class="text-left">
          <ul class="list-minus-20">
            {% for manager in room.managers.all %}
              <li>
                {% concat_strings room.id manager.id as args %}
                {% if form.id|get_status_by_manager:args %}
                  <span class="font-weight-600 text-{% if form.id|get_status_by_manager:args == 'Approved' %}success{% elif form.id|get_status_by_manager:args == 'Declined' %}danger{% elif form.id|get_status_by_manager:args == 'Insufficient Info' %}orange{% endif %}">{{ manager.get_full_name }}</span>
                {% else %}
                  <span>{{ manager.get_full_name }}</span>
                {% endif %}
              </li>
            {% endfor%}
          </ul>
        </td>
      {% endif %}
      <td class="text-left">
        <ul class="list-minus-20">
          {% for training in room.trainings.all %}
            <li>{{ training.name }}</li>
          {% endfor%}
        </ul>
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="100%">No rooms found</td>
    </tr>
  {% endfor %}
</table>

{% if is_admin %}
  <div class="mt-4">
    <p class="mb-0">Note: Different colours indicate the status of key requests in the <strong>PIs</strong> column.</p>
    <ul>
      <li><span class="font-weight-600 text-success">Approved</span></li>
      <li><span class="font-weight-600 text-danger">Declined</span></li>
      <li><span class="font-weight-600 text-orange">Insufficient Info</span></li>
    </ul>
  </div>
{% endif %}
