{% load custom_tags %}

<table class="table table-bordered table-striped table-responsive-md font-size-sm" >
  <thead>
    <tr>
      <th>
        {% if is_admin %}
          Room <br /> ID
        {% else %}
          #
        {% endif %}
      </th>
      <th>Building & Room Info</th>

      {% if is_admin %}
        <th>Approvers</th>
      {% endif %}

      <th>Required Trainings</th>

      {% if is_admin %}
        <th>Note</th>
      {% endif %}

      {% if form %}
        <th>Approved?</th>
      {% endif %}
    </tr>
  </thead>
  {% for room in rooms %}
    <tr>
      <td>
        {% if is_admin %}
          {{ room.id }}
        {% else %}
          {{ forloop.counter }}
        {% endif %}
      </td>
      <td class="text-left">
        {{ room|display_room }}
        <ul class="list-minus-20">
          {% for area in room.areas.all %}
            <li class="text-secondary font-size-sm">{{ area.name }}</li>
          {% endfor%}
        </ul>
      </td>

      {% if is_admin %}
          {% if room.groups.all or room.managers.all or form.supervisor %}
            <td class="text-left">
                  {% include 'key_request/subpages/entities_list_with_approval_status.html' with form=form room=room %}
            </td>
          {% else %}
          <td>
            <span class="badge badge-danger">NO APPROVERS</span>
          </td>
          {% endif %}
      {% endif %}

      <td class="text-left">
        <ul class="list-minus-20">
          {% for training in room.trainings.all %}
            <li>{{ training.name }}</li>
          {% endfor%}
        </ul>
      </td>

      {% if is_admin %}
        <td class="text-left">
          {% if room.note %}
            {{ room.note|linebreaksbr }}
          {% endif %}
        </td>
      {% endif %}

      {% if form %}
        <td>
          {% get_status_by_room_and_form form.id room.id as approved %}
          {% if approved %}
            <span class="material-symbols-outlined text-success">check_circle</span>
          {% else %}
            <span class="material-symbols-outlined text-danger">close</span>
          {% endif %}
        </td>
      {% endif %}
    </tr>

  {% empty %}
    <tr>
      <td colspan="100%">No rooms found.</td>
    </tr>
  {% endfor %}
</table>

{% if is_admin and form %}
  <div class="mt-4">
    <p class="mb-0">Note: Different colours indicate the status of requests in the <strong>PIs</strong> column.</p>
    <ul>
      <li><span class="font-weight-semibold text-success">Approved</span></li>
      <li><span class="font-weight-semibold text-danger">Declined</span></li>
      <li><span class="font-weight-semibold text-orange">Insufficient Info</span></li>
    </ul>
  </div>
{% endif %}
