{% load custom_tags %}

<table class="table table-bordered table-striped table-left-column-bold text-left">
  {% for field in form|get_fields %}
    <tr>
      <td class="text-left">{{ field.0 }}</td>
      <td class="text-left">
        {% if field.0 == 'Supervisor' %}
          {{ field.1|get_user }}
        {% elif field.0 == 'Additional Comments' %}
          {{ field.1|linebreaks }}
        {% else %}
          {{ field.1 }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
