
<form class="d-flex" action="" method="post">
  {% csrf_token %}

  <select class="form-control-xs" name="status">
    <option value="">Select</option>
    {% for id, status_str in req_status_dict.items %}
      <option value="{{ id }}" {% if status == id %}selected{% endif %}>{{ status_str }}</option>
    {% endfor %}
  </select>

    <input type="hidden" name="request_form_identifier" value="{{ form.request_form_identifier }}" />

  <input type="hidden" name="next" value="{{ request.get_full_path }}" />

  <input class="btn btn-{% if form.is_new %}warning{% else %}secondary{% endif %} btn-xs ml-2" type="submit" value="Update" />
</form>
