{% extends "lfs_lab_cert_tracker/base.html" %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
{% endblock %}

{% block content %}

{% include 'app/subpages/return_message.html' with data=messages %}

<section class="main-content">
	{% include 'key_request/subpages/breadcrumb.html' with curr_step=3 %}

	<h3 class="title mb-5">Step3 - Submit a form</h3>

	<section class="mt-4">
	  <h5 class="text-danger">
	    This form is for requesting access to the Faculty of Land and Food systems areas only. <br />
	    We do not process key requests for all of UBC.
	  </h5>

	  <div class="card bg-light-gray my-4 p-3">
	    <h5 class="text-info">
	      {% include 'lfs_lab_cert_tracker/icons/info.html' %}
	      Please note the following:
	    </h5>
	    <ol class="list-line-height-2">
	      <li>Key, card access, and alarm code requests will NOT be processed unless all required training completion certificates have been uploaded to <a href="{% url 'app:user_trainings' user_id=request.user.id %}">My Training Record</a>.</li>
	      <li>Key requisition is valid for thirty days from date of application.</li>
	      <li>A refundable deposit is required for each key.</li>
	      <li>UBC Key Desk may require few weeks from the date they receive the key requisition to provide the requested key(s). They will send email notices to the email address which you entered when you first requested a key at UBC even if it was many years ago. Please check that email.</li>
	      <li>UBC Card initial setup will require the user to bring in the card to be programmed. This step can be omitted if you are registered as a UBC student as students are automatically added into the system.</li>
	      <li>Applicant should take note of the expiry date for key request to each space. It is the applicant’s responsibility to renew access request if needed.</li>
	      <li>Greenhouse access is managed by Plant Care Services, please contact Melina Biron: <a href="mailto:melina.biron@ubc.ca">melina.biron@ubc.ca</a></li>
	    </ol>
	  </div>

	  <div class="border bg-light pt-3 pb-2 mb-3">
	    <ul>
	      <li>All required fields must be filled. ({% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}: This field is required)</li>
	    </ul>
	  </div>

	  <form class="form-table-format" action="" method="post" novalidate>
	    {% csrf_token %}

	    <table class="table table-borderless table-left-bold">
	      {% for user in basic_info %}
	        <tr width="100%">
	          <td width="35%" class="vertical-top text-left">
	            <label>{{ user.0 }}:</label>
	            {% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}
	          </td>
	          <td width="65%" class="vertical-top text-left">{{ user.1 }}</td>
	        </tr>
	      {% endfor %}

	      {% for field in form.visible_fields %}
	        <tr width="100%" {% if field.name == 'employee_number' or  field.name == 'student_number' or field.name == 'working_alone' %}style="display:none;"{% endif %}>
	          <td width="35%" class="vertical-top text-left">
							<label for="{% if field.label == 'Applicant UBC Affliation' %}id_affliation{% elif field.label == 'After Hours Access' %}id_after_hours_access{% else %}{{ field.id_for_label }}{% endif %}">{{ field.label }}:</label>
	            {% if field.name != 'role' and field.name != 'comment' %}
	              {% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}
	            {% endif %}
	          </td>
	          <td width="65%" class="vertical-top text-left">
							{{ field }}
							{% if field.help_text %}
	              <div class="helptext">({{ field.help_text|safe }})</div>
	            {% endif %}
						</td>
	        </tr>
	      {% endfor %}

	      {% for field in form.hidden_fields %}
	        {{ field }}
	      {% endfor %}
	    </table>

			<h5 class="text-info mt-5 my-4">Your Selected Rooms</h5>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Building</th>
						<th>Floor</th>
						<th>Room <br /> Number</th>
					</tr>
				</thead>
				<tbody>
					{% for room in room_info %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ room.building }}</td>
							<td>{{ room.floor }}</td>
							<td>{{ room.number }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<ul class="">
				<li><strong>Building Name:</strong> This is the building you are requesting access to. We do not issue access to buildings not the list above. For Main and South Campus Greenhouses, contact <a href="https://plantcare.ubc.ca/contact-us" target="_blank">UBC Plant Care Services</a></li>
				<li><strong>Room Numbers:</strong> Use "entrance" for entrances. *** FNH 190 Pilot Plant Users *** Complete the FNH 190 Orientation and the code of conduct form before filling in this form.</li>
			</ul>

			{% for room in room_info %}
				<input type="hidden" name="rooms[]" value="{{ room.id }}" />
			{% endfor %}

			<div class="mt-5 border border-secondary p-3 bg-light-gray">
				<h6>
					Requirement to Proceed:
					{% include 'lfs_lab_cert_tracker/icons/asterisk.html' %}
				</h6>
				I understand this request will not be processed until all my required training certificates have been uploaded to https://training-report.landfood.ubc.ca. -- For undergraduate students who need access to FNH labs, please contact your supervisor.
				<br />
				<input type="checkbox" name="agree" value="yes" /> I agree
			</div>

			<div class="mt-5 text-center">
				<p class="text-danger">
				  <i class="fa fa-asterisk" aria-hidden="true"></i>
				  Once submitted, it cannot be changed. Please review carefully before clicking the Submit button.
				</p>

				<a class="btn btn-secondary mr-2" href="{% url 'key_request:check_user_trainings' %}">Go back</a>
				<input class="btn btn-primary" type="submit" value="Submit" />
			</div>
	  </form>

	</section>
</section>

{% endblock %}

{% block js %}
  {% load static %}
  <script type="text/javascript" src="{% static 'lfs_lab_cert_tracker/js/submit_form.js' %}"></script>
{% endblock %}
