{% extends "header.html" %}

{% block sidebar %}
<div class="list-group">
	<a class="list-group-item list-group-item-action" href="/users/{{ user.id }}/labs">View My Labs</a>
	<a class="list-group-item list-group-item-action" href="/users/{{ user.id }}/certificates">View My Certificates</a>
	<a class="list-group-item list-group-item-action" href="/labs">View All Labs</a>
	<a class="list-group-item list-group-item-action" href="/certificates">View All Certificates</a>
	{% if can_view_users %}
	<a class="list-group-item list-group-item-action" href="/users">View All Users</a>
	{% endif %}
	{% if can_edit_user_lab %}
	<a class="list-group-item list-group-item-action" href="/users/edit_labs">Add User to Lab</a>
	{% endif %}
	{% if can_edit_lab_cert %}
	<a class="list-group-item list-group-item-action" href="/labs/edit_certs">Add Cert to Lab</a>
	{% endif %}
</div>
{% endblock %}
