{% extends "base.html" %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}
	<p>Already logged in</p>
{% else %}
	{% if errors %}
		<div class="alert alert-danger" role="alert">
			<strong>Errors:</strong>
			<ul class="list-unstyled">
					{% for err in errors %}
						<li>{{err}}</li>
					{% endfor %}
			</ul>
			{% if error_reason %}
				<p><b>Reason:</b> {{error_reason}}</p>
			{% endif %}
		</div>
	{% endif %}

	{% if not_auth_warn %}
		<div class="alert alert-danger" role="alert">Not authenticated</div>
	{% endif %}

	{% if success_slo %}
		<div class="alert alert-success" role="alert">Successfully logged out</div>
	{% endif %}

	<div class="row">
		{% if messages %}
			{% for message in messages %}
				<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endif %}

		<div class="col-md-6">
			<div class="accounts-login">
				<h3 class="login-title">LFS Training Record Management System</h3>

				<p class="text-secondary">Please click the button below to login</p>
				<a href="{% url 'accounts:login' %}">
					<img src="{% static 'lfs_lab_cert_tracker/images/CWL_login_button.gif' %}" alt="CWL login button"/>
				</a>
			</div>
		</div>

		<div class="col-md-6">

			<div class="card text-white bg-info">
			  <div class="card-header">About LFS Training Record Management System</div>
		  	<div class="card-body">
			    <blockquote class="blockquote mb-0">
			      <p>The LFS Training Record Management System (TRMS) aims to collect and keep track of the training records required for all students, staffs and faculties that are working in LFS. This system will ensure that people working in specific space or area in LFS receive the appropriate training catered to the work environment.</p>
			      <p class="blockquote-footer text-white">Faculty of Land and Food System @ UBC</p>
			    </blockquote>
			  </div>
			</div>

		</div>
	</div>

{% endif %}
{% endblock %}
