html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

main {
  flex: 1 0 auto;
  padding-bottom: 100px;
}

footer {
  flex-shrink: 0;
  color: #fff;
  background-color: #002145;
  height: 120px;

}

footer .footer-content {
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .column {
  flex: 50%;
}

footer .footer-content a {
  color: #fff;
}


.lfs-logo {
  height: 30px;
  width: auto;
}

.accounts-login {
  text-align: center;
  margin-top: 55px;
}

.accounts-login .login-title {
  margin-bottom: 80px;
}

header {
  background-color: #283593;
}

header .navbar-brand,
header .navbar-text,
header .nav-link {
  color: #fff !important;
}

header .navbar-brand > img {
  width: auto;
  height: 45px;
}

header .navbar-brand .brand-shorthand  {
  display: none;
}

header .navbar-toggler {
  background-color: #fff;
  border-radius: 4px;
}

header .container .logout-btn {
  display: inline-block;
}

header .container .logout-btn:hover {
  text-decoration: underline;
}

.title,
.card {
  margin-top: 40px;
}

.search-field {
  float: right;
}

.list-form {
  display: inline-block;
}

tr.inactive {
  background-color: rgba(0,0,0,.075);
}

#add_user_cert_form #id_cert {
  width: 100%;
}

.errorlist {
  color: maroon;
  font-weight: bold;
}

.search-field-text::placeholder {
  font-size: 15px;
}

.btn-inactive {
  background-color: #ccc;
}

.btn-xs {
  padding: .1em .3em;
  font-size: 0.75rem;
}

.font-size-sm {
  font-size: 0.8rem;
}

.color-blue {
  color: #007bff;
}

i.material-icons {
  vertical-align: middle !important;
  padding-bottom: 5px;
}

.bg-light-gray {
  background-color: #f1f1f1;
}

.box {
  padding: 25px 25px 5px;
  border-radius: 4px;
}

.border-green {
  border: 1px solid #28a745;
}

.border-red {
  border: 1px solid #dc3545;
}

.border-gray {
  border: 1px solid #6c757d;
}

.nav-item {
  color: #6c757d;
}

.nav-item .nav-link:hover {
  text-decoration: underline;
}

.nav-item .nav-link.active {
  font-weight: 600;
}

.nav-tabs > a {
   padding: 1.0rem;
   font-size: 1.0rem;
 }

.nav-tabs .nav-link.active {
    color: #495057;
    font-weight: 600;
    background-color: #fff;
    border-top-width: 3px;
    border-color: #f0ad4e #dee2e6 #fff;
}

.field-wrapper {
  margin: 2.0rem 0;
}

.field-wrapper > label {
  margin: 0;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.field-wrapper > .help {
  color: #474d52;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.new-users-section {
  background-color: #f1f1f1;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 40px;
}



/* admin menu */

.admin-menu {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: #e3f2fd;
  /*background-color: #e3f2fd;*/
}

.admin-menu .dropdown {
  display: inline-block;
}

.admin-menu .dropdown button {
  padding: 4px 8px;
  background: none;
  outline: none;
  border: none;
}

.admin-menu .dropdown a:focus,
.admin-menu .dropdown a:active,
.admin-menu .dropdown button:focus,
.admin-menu .dropdown button:active {
  outline: none !important;
  box-shadow: none;
}

.admin-menu .dropdown {
  margin: 0 5px;
}

.admin-menu .dropdown .dropdown-item {
  padding: 4px 8px;
  background: none;
}

.admin-menu .dropdown .dropdown-item:hover,
.admin-menu .dropdown .dropdown-toggle:hover {
  background-color: #90caf9;
}

.admin-menu .dropdown .dropdown-item:active {
  color: #212529;
}


.work-area {
  border-radius: 4px;
  padding: 1px 5px;
  margin: 10px 0;
  line-height: 1.8;
}

.area-lab-user {
  border: 1px solid #bbdefb;
  background-color: #e3f2fd;
}

.area-pi {
  border: 1px solid #fff8e1;
  background-color: #ffecb3;
}



.custom-table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background: none;
  border-top: 2px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
}

.custom-table th,
.custom-table td {
  border-left: none;
  border-right: none;
}

.custom-table th,
.custom-table td {
  padding: 0.3rem;
  vertical-align: top;
}

.custom-table td {
  background-color: #fff;
}


/* Utils */


.btn-lime {
  background-color: #e6ee9c;
  border-color: #dce775;
}

.btn-lime:hover {
  background-color: #dce775;
}

.block-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}


/* Responsive design */

@media (max-width: 575.98px) {
  header .navbar-brand .brand-title { display: none; }
  header .navbar-brand .brand-shorthand { display: inline; }
  .nav-tabs > a { font-size: 0.8rem; }
  .admin-menu >.text { display: none; }
  footer,
  footer .footer-content {
    height: 150px;
    font-size: 0.9rem;
    padding: 5px;
  }
  footer .footer-content { flex-direction: column; }
  #list-of-areas {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  footer { font-size: 0.9rem; }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  header .navbar-brand .brand-title { display: none; }
  header .navbar-brand .brand-shorthand { display: inline; }
}
