.lfs-logo {
  height: 30px;
  width: auto;
}

.accounts-login {
  text-align: center;
  margin-top: 55px;
}

.accounts-login .login-title {
  margin-bottom: 80px;
}

.container header {
  margin-bottom: 10px;
  font-size: 0.85rem;
}

.container header .logout-btn {
  display: inline-block;
}

.container header .logout-btn:hover {
  text-decoration: underline;
}

footer { height: 100px; }

.title,
.card {
  margin-top: 40px;
}

.search-field {
  float: right;
}

.list-form {
  display: inline-block;
}

tr.inactive {
  background-color: rgba(0,0,0,.075);
}

#add_user_cert_form #id_cert {
  width: 100%;
}

.errorlist {
  color: maroon;
  font-weight: bold;
}

.search-field-text::placeholder {
  font-size: 17px;
}
.btn-inactive {
  background-color: #ccc;
}
