html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

main {
  flex: 1 0 auto;
  padding-bottom: 100px;
}

footer {
  flex-shrink: 0;
  color: #fff;
  background-color: #002145;
  height: 120px;

}

footer .footer-content {
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .column {
  flex: 50%;
}

footer .footer-content a {
  color: #fff;
}


.lfs-logo {
  height: 30px;
  width: auto;
}

.accounts-login {
  text-align: center;
  margin-top: 55px;
}

.accounts-login .login-title {
  margin-bottom: 80px;
}

.container header {
  margin-bottom: 10px;
  font-size: 0.85rem;
}

.container header .logout-btn {
  display: inline-block;
}

.container header .logout-btn:hover {
  text-decoration: underline;
}

.title,
.card {
  margin-top: 40px;
}

.search-field {
  float: right;
}

.list-form {
  display: inline-block;
}

tr.inactive {
  background-color: rgba(0,0,0,.075);
}

#add_user_cert_form #id_cert {
  width: 100%;
}

.errorlist {
  color: maroon;
  font-weight: bold;
}

.search-field-text::placeholder {
  font-size: 15px;
}

.btn-inactive {
  background-color: #ccc;
}

.btn-xs {
  padding: .1em .3em;
  font-size: 0.75rem;
}

.font-size-sm {
  font-size: 0.8rem;
}

.color-blue {
  color: #007bff;
}

i.material-icons {
  vertical-align: middle !important;
  padding-bottom: 5px;
}

.bg-light-gray {
  background-color: #e6e6e6;
}

.box {
  padding: 25px 25px 5px;
  border-radius: 4px;
}

.border-green {
  border: 1px solid #28a745;
}

.border-red {
  border: 1px solid #dc3545;
}

.border-gray {
  border: 1px solid #6c757d;
}


@media (max-width: 575.98px) {
  .navbar-brand {
    font-size: 0.9rem;
  }

  footer,
  footer .footer-content {
    height: 150px;
    font-size: 0.9rem;
    padding: 5px;
  }

  footer .footer-content {
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  footer {
    font-size: 0.9rem;
  }
}
