<nav class="container top-menu-nav">
  <div class="dropdown">
    <a class="btn dropdown-item" href="{% url 'app:user_details' user_id=request.user.id %}">My Account</a>
  </div>
  <div class="dropdown">
    <a class="btn dropdown-item" href="{% url 'app:user_areas' user_id=request.user.id %}">My Work Area</a>
  </div>
  <div class="dropdown">
    <a class="btn dropdown-item" href="{% url 'app:user_trainings' user_id=request.user.id %}">My Training Record</a>
  </div>

  {% if has_manager_key_requests %}
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Key Request
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'key_request:index' %}">Key Request</a>
        <a class="dropdown-item" href="{% url 'key_request:manager_dashboard' %}">PI - Dashboard</a>
      </div>
    </div>
  {% else %}
    <div class="dropdown">
      <a class="btn dropdown-item" href="{% url 'key_request:index' %}">Key Request</a>
    </div>
  {% endif %}

  {% if request.user.is_superuser %}
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Settings
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'app:all_areas' %}">All Areas</a>
        <a class="dropdown-item" href="{% url 'app:all_trainings' %}">All Trainings</a>
        <a class="dropdown-item" href="{% url 'app:all_users' %}">All Users</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'app:new_user' %}">New User</a>
        <a class="dropdown-item" href="{% url 'app:user_report_missing_trainings' %}">User Report</a>
        <a class="btn dropdown-item" href="{% url 'app:api_updates' %}">API Updates</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'key_request:all_requests' %}">All Requests</a>
        <a class="dropdown-item" href="{% url 'key_request:all_buildings' %}">All Buildings</a>
        <a class="dropdown-item" href="{% url 'key_request:settings' model='Floor' %}">All Floors</a>
        <a class="dropdown-item" href="{% url 'key_request:all_rooms' %}">All Rooms</a>
      </div>
    </div>
  {% endif %}
</nav>
