<nav class="container top-menu-nav">
  <div class="dropdown">
    <a class="btn dropdown-item" href="{% url 'app:my_account' user_id=request.user.id %}">My Account</a>
  </div>
  <div class="dropdown">
    <a class="btn dropdown-item" href="{% url 'app:my_work_area' user_id=request.user.id %}">My Work Area</a>
  </div>
  <div class="dropdown">
    <a class="btn dropdown-item" href="{% url 'app:my_training_record' user_id=request.user.id %}">My Training Record</a>
  </div>

  {% if is_settings_viewing %}
    <div class="dropdown">
      <a class="btn dropdown-item" href="{% url 'app:setting_index' %}">Settings</a>
    </div>
  {% endif %}

  {% if is_key_request_viewing %}
    <div class="dropdown">
      <a class="btn dropdown-item" href="{% url 'key_request:index' %}">Key Request</a>
    </div>
  {% endif %}
</nav>
