<style>
table.printable {
	border-collapse: collapse;
}

table.printable,
table.printable th,
table.printable td {
	border: 1px solid black;
	padding: 5px;
  text-align: center;
}
</style>

<h3 class="my-5">
  User Report
  (Total: {{ users|length }})
</h3>

<table class="printable" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>CWL</th>
      <th>Number of <br />Missing Trainings</th>
      <th>Missing Training Records</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td style="width:7%">{{ user.id }}</td>
        <td style="width:20%">{{ user.get_full_name }}</td>
        <td style="width:10%">{{ user.username }}</td>
        <td style="width:10%">{{ user.missing_certs.count }}</td>
        <td style="width:53%; text-align:left">
          <ul>
            {% for training in user.missing_certs.all %}
              <li>{{ training.cert }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% empty %}
      No users found
    {% endfor %}
  </tbody>
</table>
