<style>
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
	padding: 5px;
}
</style>

<h5>Report for {{app_user.first_name}} {{app_user.last_name}}</h5>
<h5>CWL: {{app_user.username}}</h5>

<table>
	<thead>
		<tr>
			<th>Registered In</th>
			<th>Required Training Records</th>
			<th>Missing/Expired Training Records</th>
		</tr>
	</thead>
	<tbody>
		{% for ul in user_labs %}
			<tr>
				<td>{{ ul.lab.name }}</td>
				<td>
					<ul>
						{% for cert in ul.required_certs %}
							<li>{{ cert.name }}</li>
						{% endfor %}
					<ul>
				</td>
				<td>
					{% for cert in ul.missing_expired_certs %}
						<li>{{ cert.name }}</li>
					{% endfor %}
				</td>
			</tr>
		{% empty %}
			<tr>
				<td colspan="3">No registered areas found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<h5>Has Training Records</h5>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Uploaded On</th>
			<th>Completion Date</th>
			<th>Expiry Date</th>
		</tr>
	</thead>
	<tbody>
		{% for uc in user_certs %}
			<tr>
				<td>{{ uc.cert.name }}</td>
				<td>{{ uc.uploaded_date }}</td>
				<td>{{ uc.completion_date }}</td>
				<td>
					{% if uc.completion_date == uc.expiry_date %}
						No expiry date
					{% else %}
						{{ uc.expiry_date }}
					{% endif %}
				</td>
			</tr>
		{% empty %}
			<tr>
				<td colspan="4">No training records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
