{% extends "lfs_lab_cert_tracker/base.html" %}
{% load static %}

{% block top_menu_nav %}
	{% include "lfs_lab_cert_tracker/subpages/top_menu.html" %}
	<div id="welcome-message-alert" class="container"></div>
{% endblock %}

{% block content %}

<section class="main-content">

	<nav class="font-size-sm text-secondary">
		{% include 'lfs_lab_cert_tracker/icons/home.html' %}
		{% if request.user.id == app_user.id %}
			My Account
		{% else %}
			{{ app_user.get_full_name }}'s Account
		{% endif %}
	</nav>

	<div class="row mt-5">
		<div class="col-md-8">
			<div class="d-flex align-items-center justify-content-between">
				<h3 class="m-0">{{ app_user.get_full_name }}</h3>

				<a class="btn btn-primary" href="{% url 'key_request:index' %}">
					{% include "lfs_lab_cert_tracker/icons/key.html" %}
					Key Request
				 </a>
			</div>

			{% if request.user.id == app_user.id and num_new_forms %}
				<div class="mt-4">
					<div class="bg-prompt mb-5">
						<div class="prompt text-center p-4 mb-4">
							<h5>
								<span class="material-symbols-outlined">mail</span>
								You now have <strong class="text-chocolate">{{ num_new_forms }}</strong> new application{{ num_new_forms|pluralize }} for Key Request.
							</h5>
							<a class="btn btn-sm btn-outline-primary mt-1" href="{% url 'key_request:manager_dashboard' %}">Check</a>
						</div>
					</div>
				</div>
			{% endif %}

			<div class="box border-green mt-3">
				<h5 class="text-success">
					<span class="material-symbols-outlined">verified_user</span> Training Record
					<small class="text-secondary">(Total: {{ user_certs|length }})</small>
				</h5>
				<div class="text-secondary">
					<ul class="list-minus-20">
						{% for user_cert in user_certs %}
							<li>
								<a href="{% url 'app:user_training_details' user_id=app_user.id training_id=user_cert.cert_id %}?p=account">
									{{ user_cert.cert_name }}
								</a>

								{% if user_cert.num_certs > 1 %}
									<span class="text-secondary">(Total: {{ user_cert.num_certs }})</span>
								{% endif %}

								{% if user_cert.by_api %}
									<span class="badge badge-warning font-size-xs">CANVAS</span>
								{% endif %}
							</li>
						{% empty %}
							<li>
								No training record found
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="box border-red mt-5">
				<h5 class="text-danger">
					<span class="material-symbols-outlined">notification_important</span> Missing Training Record
					<small class="text-secondary">(Total: {{ missing_certs|length }})</small>
				</h5>
				<div class="text-secondary">
					{% if missing_certs %}
						<ul class="list-minus-20">
							{% for missing_cert in missing_certs %}
								<li>{{ missing_cert.name }}</li>
							{% endfor %}
						</ul>
					{% else %}
						No missing training record found
					{% endif %}
				</div>
			</div>

			<div class="box border-gray my-5">
				<h5 class="text-secondary">
					<span class="material-symbols-outlined">warning</span> Expired Training Record
					<small class="text-secondary">(Total: {{ expired_certs|length }})</small>
				</h5>
				<div class="text-secondary">
					{% if expired_certs %}
						<ul class="list-minus-20">
							{% for expired_cert in expired_certs %}
								<li>{{ expired_cert.name }}</li>
							{% endfor %}
						</ul>
					{% else %}
						No expired training record found
					{% endif %}
				</div>
			</div>

		</div>

		<div class="col-md-4">

			<div class="pl-4">
				<div>
					<h5 class="text-primary">
						<span class="material-symbols-outlined">cloud_download</span>
						Report
					</h5>
					<a href="{% url 'app:user_report' user_id=app_user.id  %}" target="_blank">Download as PDF</a>
				</div>

				<div class="mt-5">
					<h6>
						Other Work Area(s)
						<small class="text-secondary">(Total: {{ user_labs|length }})</small>
					</h6>
					{% if user_labs %}
						<ul class="text-secondary">
							{% for user_lab in user_labs %}
								<li>{{ user_lab.lab.name }}</li>
							{% endfor %}
						</ul>
					{% else %}
						<p class="text-secondary">{{ app_user.first_name }} is not in any areas</p>
					{% endif %}
				</div>

				<div class="mt-4">
					<h6>
						Main Work Area(s)
						<small class="text-secondary">(Total: {{ user_labs_pi|length }})</small>
					</h6>
					{% if user_labs_pi %}
						<ul class="text-secondary">
							{% for user_lab in user_labs_pi %}
								<li>
									<a href="{% url 'app:area_details' area_id=user_lab.lab.id %}?t=users_in_area">{{ user_lab.lab.name }}</a>
								</li>
							{% endfor %}
						</ul>
					{% else %}
						<p class="text-secondary">{{ app_user.first_name }} is not a Supervisor in any areas</p>
					{% endif %}
				</div>

				<div class="card bg-light mt-5 p-3">
					<h5 class="text-info">
						{% include 'lfs_lab_cert_tracker/icons/info.html' %} NOTE
					</h5>
					<ul class="mb-0 list-minus-20">
						<li>
							Please go to
							<a href="{% url 'app:add_training_record' user_id=app_user.id %}">
								{% if request.user.id == app_user.id %}
									Add
								{% else %}
									{{ app_user.get_full_name }}'s
								{% endif %}
								Training Record</a>
							if you would like to add your training records (upload your certificates).
						</li>
						<li>
							This badge <span class="badge badge-warning font-size-xs">CANVAS</span> indicates that this Training information has been added automatically from <a href="https://login.cpe.ubc.ca/">UBC Canvas Catalog</a>
						</li>
					</ul>
				</div>

			</div>

		</div>
	</div>

	{% if viewing %}
		{% include 'app/subpages/viewing_info.html' with data=viewing %}
	{% endif %}

	{% if request.session.is_first_time %}
		<div class="modal fade" id="welcome-modal" tabindex="-1" role="dialog" aria-labelledby="welcome-modal-label" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="welcome-modal-label">
							Welcome Message for TRMS
							<small><a href="{% static 'lfs_lab_cert_tracker/pdf/welcome_message.pdf' %}" target="_blank">Download as PDF</a></small>
						</h5>
					</div>
					<div class="modal-body p-4">
						{{ welcome_message|safe }}
					</div>
					<div class="modal-footer">
						Click the <span class="text text-success ml-1">Close</span> button to close this window
						<button id="close-welcome-modal" class="btn btn-success ml-3" type="button" data-url="{% url 'app:read_welcome_message' user_id=app_user.id %}" data-token="{{ csrf_token }}">Close</button>
				</div>
				</div>
			</div>
		</div>
	{% endif %}

</section>

{% endblock %}

{% if request.session.is_first_time %}
	{% block js %}
		{% load static %}
		<script type="text/javascript" src="{% static 'lfs_lab_cert_tracker/js/user_details.js' %}"></script>
	{% endblock %}
{% endif %}
