{% extends "lfs_lab_cert_tracker/base.html" %}

{% block content %}

{% if request.user.is_superuser %}
	{% include 'app/subpages/_admin_menu.html' %}
{% endif %}

<h3 class="my-5">
	User Report
	<small class="text-secondary">Total: {{ total_users }}</small><br />
	<small class="text-danger">for Missing Training Records</small>
</h3>

<div class="search-field mb-2">
	<form method="GET">
		<div class="input-field">
			<input class="search-field-text" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search by CWL or Name">
			<button class="btn btn-secondary btn-sm" type="submit">Search</button>
			<a class="btn btn-sm btn-light" href="{% url 'app:user_report_missing_trainings' %}">Clear</a>
		</div>
	</form>
</div>

<div class="text-primary float-left">
	<i class="material-icons">cloud_download</i>
	<a href="{% url 'app:download_user_report_missing_trainings' %}" target="_blank">Download as PDF</a>
</div>

<table class="table table-bordered table-striped table-hover table-responsive-lg text-center font-size-sm">
	<thead>
		<tr>
			<th>ID</th>
			<th>Full Name</th>
			<th>CWL</th>
			<th>Number of <br />Missing Trainings</th>
			<th>Missing Training Records</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.get_full_name }}</td>
				<td>
					<a href="{% url 'app:user_details' user_id=user.id %}?next={{ request.get_full_path }}">{{ user.username }}</a>
				</td>
				<td>{{ user.missing_certs.count }}</td>
				<td class="text-left">
					<ul>
						{% for training in user.missing_certs.all %}
							<li>{{ training.cert }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>

		{% empty %}

			<tr>
				<td colspan="5">No users found</td>
			</tr>

		{% endfor %}
	</tbody>
</table>

{% include 'app/subpages/_pagination.html' with data=users %}

{% endblock %}
