{% extends "header.html" %}

{% block content %}

{% if request.user.is_superuser %}
	{% include 'subpages/_admin_menu.html' %}
{% endif %}

<h3 class="my-5">
	User Report
	<small class="text-secondary">Total: {{ total_users }}</small><br />
	<small class="text-danger">for Missing Training Records</small>
</h3>

<div class="text-primary float-right">
	<i class="material-icons">cloud_download</i>
	<a href="{% url 'download_user_report_missing_trainings' %}" target="_blank">Download as PDF</a>
</div>

<table class="table table-bordered table-striped table-hover table-responsive-lg text-center font-size-sm">
	<thead>
		<tr>
			<th>ID</th>
			<th>Full Name</th>
			<th>CWL</th>
			<th>Number of <br />Missing Trainings</th>
			<th>Missing Training Records</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.get_full_name }}</td>
				<td>{{ user.username }}</td>
				<td>{{ user.missing_certs.count }}</td>
				<td class="text-left">
					<ul>
						{% for training in user.missing_certs %}
							<li>{{ training.cert }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% empty %}
			No users found
		{% endfor %}
	</tbody>
</table>

{% include 'subpages/_pagination.html' with data=users %}

{% endblock %}
