<style>
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
	padding: 5px;
}
</style>

<h5>Report for {{app_user.first_name}} {{app_user.last_name}}</h5>
<h5>CWL: {{app_user.username}}</h5>

<table>
	<tr>
		<th>Registered In</th>
		<th>Required Training Records</th>
		<th>Missing/Expired Training Records</th>
	</tr>
	{% for ul in user_labs %}
		<tr>
			<td>{{ ul.0.name }}</td>
			<td>
				<ul>
				{% for cert in ul.1 %}
					<li>{{ cert.name }}</li>
				{% endfor %}
				<ul>
			</td>
			<td>
				<ul>
				{% for cert in ul.2 %}
					<li>{{ cert.name }}</li>
				{% endfor %}
				<ul>
			</td>
		</tr>
	{% empty %}
		<tr>
			<td colspan="3">No registered areas found</td>
		</tr>
	{% endfor %}
</table>

<h5>Has Training Records</h5>

	<table>
		<tr>
			<th>Name</th>
			<th>Uploaded On</th>
			<th>Completion Date</th>
			<th>Expiry Date</th>
		</tr>
		{% for uc in user_cert_list %}
			<tr>
				<td>{{ uc.name }}</td>
				<td>{{ uc.uploaded_date }}</td>
				<td>{{ uc.completion_date }}</td>
				<td>
					{% if uc.no_expiry_date %}
						No expiry date
					{% else %}
						{{ uc.expiry_date }}
					{% endif %}
				</td>
			</tr>
		{% empty %}
			<tr>
				<td colspan="4">No training records found</td>
			</tr>
		{% endfor %}
	</table>
