{% if request.user.is_superuser %}

<section id="left-side-menu" class="left-side-menu">
  <h5 class="menu-title text-center mb-4">Menu</h5>
  <ul class="list-no-bullets">
    <li><a href="{% url 'app:setting_index' %}">Settings</a></li>

    <hr />

    <li><a href="{% url 'app:all_areas' %}">All Areas</a></li>
    <li><a href="{% url 'app:all_trainings' %}">All Trainings</a></li>

    <hr />

    <li><a href="{% url 'app:all_users' %}">All Users</a></li>
    <li><a href="{% url 'app:create_user' %}">Create User</a></li>
    <li><a href="{% url 'app:user_report_missing_trainings' %}">User Report</a></li>

    <hr />

    <li><a href="{% url 'app:api_updates' %}">API Updates</a></li>
  </ul>
</section>

{% endif %}
