{% extends "lfs_lab_cert_tracker/base.html" %}

{% block content %}

{% if request.user.is_superuser %}
	{% include 'app/subpages/_admin_menu.html' %}
{% endif %}

{% include 'app/subpages/_return_message.html' with data=messages %}

<style>
	.tableSort {
		position: absolute;
		text-decoration: none;
		color: black;
		font-weight: bold;
		margin-left: 5px;
		padding: 0 6px;
		background: lightgray;
		transition: 0.1s;
	}
	.tableSort:nth-child(odd) {
		margin-top: -0.8em;
	}
	.tableSort:nth-child(even) {
		margin-top: 0.8em;
	}
	.tableSort:hover {
		text-decoration: none;
		color: white;
		background: #6c757d;
	}
</style>

<div id="user-areas-message"></div>

<h3 class="my-5">
	API Updates
	<small class="text-secondary">(Total: {{ total_users }})</small>
</h3>

<div class="search-field mb-2">
	<form method="GET">
		<div class="input-field">
			<label for="dateFrom">From:</label>
			<input type="date" style="margin-right: 15px;" id="dateFrom" name="dateFrom" value="{{ request.GET.dateFrom }}">
			<label for="dateTo">To:</label>
			<input type="date" style="margin-right: 15px;" id="dateTo" name="dateTo" value="{{ request.GET.dateTo }}">
			
			<label for="q">Search:</label>
			<input class="search-field-text" style="margin-right: 15px;" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search by CWL, Name, or Certificate">
			<button class="btn btn-secondary btn-sm" type="submit">Filter</button>
			<a class="btn btn-sm btn-light" href="{% url 'app:api_updates' %}">Clear</a>
		</div>
	</form>
</div>

<table class="table table-bordered table-striped table-hover table-responsive-md text-center font-size-sm table-vertical-middle">
  <thead>
    <tr>
		<th>User</th>
		<th>Upload Date 
			<a class="tableSort" href="?sort=uploadDateAscending{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}{% if request.GET.dateFrom %}&dateFrom={{ request.GET.dateFrom }}{% endif %}{% if request.GET.dateTo %}&dateTo={{ request.GET.dateTo }}{% endif %}">&#11165;</a>
			<a class="tableSort" href="?sort=uploadDateDescending{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.page %}&page={{ request.GET.page }}{% endif %}{% if request.GET.dateFrom %}&dateFrom={{ request.GET.dateFrom }}{% endif %}{% if request.GET.dateTo %}&dateTo={{ request.GET.dateTo }}{% endif %}">&#11167;</a>
		</th>
        <th>Certificate</th>
    </tr>
  </thead>
  <tbody id="tableRows">
    {% for user in users %}
      <tr>
		<td><a href="/app/users/{{user.user_id}}/">{{user.user_id}}, {{user.full_name}}<br />({{user.user}})</a></td>
		<td>{{user.uploaded_date}}</td>
		<td><a href="/app/users/{{user.user_id}}/training-record/{{user.cert_id}}/?p=account">
			{{user.cert}}
		</a></td>
      </tr>

		{% empty %}

			<tr>
				<td colspan="10">No users found</td>
			</tr>

    {% endfor %}
  </tbody>
</table>

{% include 'app/subpages/_pagination.html' with data=users %}

{% endblock %}